# SpanArray.ipynb

A Pandas `ExtensionArray` that represents a column of spans over a single target text.

Eventually the contents of this notebook will be migrated to a Python source file.

In [2]:
import pandas as pd
import numpy as np
from memoized_property import memoized_property

import importlib

# [re]import our local library code
import pandas_text as pt
importlib.reload(pt)

In [2]:
# New code under test goes here and eventually migrates to pandas_text

In [3]:
text = "Hello, world!\nThis is a test."
begins = np.array([0, 7, 5, 6, 14, 24])
ends = np.array([5, 12, 6, 6, 19, 28])

col = pt.CharSpanArray(text, begins, ends)
df = pd.DataFrame({"begin": begins, "end": ends, "span": col})
df

   begin  end               span
0      0    5    [0, 5): 'Hello'
1      7   12   [7, 12): 'world'
2      5    6        [5, 6): ','
3      6    6         [6, 6): ''
4     14   19  [14, 19): 'This '
5     24   28   [24, 28): 'test'

In [5]:
df["span"].values

<SpanArray>
[  [0, 5): 'Hello',  [7, 12): 'world',       [5, 6): ',',        [6, 6): '',
 [14, 19): 'This ',  [24, 28): 'test']
Length: 6, dtype: CharSpan

In [4]:
df["span"].span.covered_text

0    Hello
1    world
2        ,
3
4    This
5     test
dtype: object

In [13]:
begin_toks = np.array([0, 3, 5])
end_toks = np.array([1, 5, 5])
mask = (end_toks > begin_toks)
mask

array([ True,  True, False])

In [12]:
end_chars = 
end_toks[mask]

array([5])