In [6]:
import spacy
import text_extensions_for_pandas as tp

# The original document had HTML tags. Get the detagged text.
doc_text = persons["person"].array.document_text

# Run dependency parsing and convert the parse to a DataFrame.
spacy_language_model = spacy.load("en_core_web_trf")
all_token_features = tp.io.spacy.make_tokens_and_features(
    doc_text, spacy_language_model)

# Drop the columns we won't need for this analysis.
tokens = all_token_features[["id", "span", "dep", "head", 
                             "sentence"]]
tokens

,id,span,dep,head,sentence
0,0,"[0, 6): 'ARMONK'",ROOT,0,"[0, 42): 'ARMONK, N.Y., Dec. 2, 2020 /PRNewswi..."
1,1,"[6, 7): ','",punct,0,"[0, 42): 'ARMONK, N.Y., Dec. 2, 2020 /PRNewswi..."
2,2,"[8, 12): 'N.Y.'",appos,0,"[0, 42): 'ARMONK, N.Y., Dec. 2, 2020 /PRNewswi..."
3,3,"[12, 13): ','",punct,0,"[0, 42): 'ARMONK, N.Y., Dec. 2, 2020 /PRNewswi..."
4,4,"[14, 18): 'Dec.'",npadvmod,0,"[0, 42): 'ARMONK, N.Y., Dec. 2, 2020 /PRNewswi..."
...,...,...,...,...,...
761,761,"[4248, 4266): 'tballen@us.ibm.com'",appos,751,"[4196, 4278): 'Media Contact: Tyler Allen IBM ..."
762,762,"[4266, 4267): ''",punct,751,"[4196, 4278): 'Media Contact: Tyler Allen IBM ..."
763,763,"[4267, 4273): 'SOURCE'",appos,751,"[4196, 4278): 'Media Contact: Tyler Allen IBM ..."
764,764,"[4274, 4277): 'IBM'",appos,763,"[4196, 4278): 'Media Contact: Tyler Allen IBM ..."
765,765,"[4277, 4278): ''",punct,751,"[4196, 4278): 'Media Contact: Tyler Allen IBM ..."