In [14]:
# Aggregate the nodes of each title to find the span of the 
# entire title.
titles = (
    selected_nodes
    .groupby("person")
    .aggregate({"span": "sum"})
    .reset_index()
    .rename(columns={"span": "title"})
)
titles

,person,title
0,"[1288, 1304): 'Daniel Hernandez'","[1306, 1339): 'general manager, Data and AI, IBM'"
1,"[1838, 1849): 'Curren Katz'","[1851, 1896): 'Director of Data Science R&D, H..."
2,"[2476, 2486): 'Ritu Jyoti'","[2488, 2581): 'program vice president, AI rese..."