<font size=6>
    <b>Model_Training_with_TensorArray.ipynb:</b>
    <p>Use Text Extensions for Pandas TensorArray to integrate model training and prediction with Pandas.</p>
</font>

# Introduction

This notebook shows how to use the open source library [Text Extensions for Pandas](https://github.com/CODAIT/text-extensions-for-pandas) to seamlessly integrate model training and prediction with [Pandas](https://pandas.pydata.org/) DataFrames for added support of columns with N-dimensional tensors using the Pandas extension array called `TensorArray`.

## TensorArray Specification

A `TensorArray` represents an array of tensors where each element is an N-dimensional tensor of the same shape. If there are M tensor elements in the array, then the entire `TensorArray` will have a shape of M x N, where the outer dimension is the number of elements. Backing the `TensorArray` is a single `numpy.ndarray` with shape M x N. Standard arithmetic and comparison operations are supported and delegated to the backing ndarray. Taking a slice or multiple item selection will produce another `TensorArray`, while a single element selection will produce a `TensorElement` that also wraps a view of the `numpy.ndarray`, with similar operator support.

A `TensorArray` can be constructed with zero copy from a single `numpy.ndarray` or with a sequence of elements of similar shape. Conversion of a `TensorArray` to a `numpy.ndarray` can be done with zero copy by calling `TensorArray.to_numpy()` or using the provided numpy array interface, e.g. `numpy.asarray(TensorArray(...))`. The `TensorArray` is a Pandas extension type of type `TensorType` and can be wrapped in a `pandas.Series` or used as a column in a `pandas.DataFrame` and used in standard Pandas operations. A `NULL` or missing value in the `TensorArray` is represented as a N-dimensional `numpy.ndarray` where all items are `numpy.nan`.

## Model Training Example

To demonstrate the TensorArray functionality from Text Extensions for Pandas, we will use the CoNLL-2003 corpus used from https://www.aclweb.org/anthology/W03-0419/ to ***
This notebook will build on the analysis on the CoNLL-2003 corpus done in [Analyze_Model_Outputs](./Analyze_Model_Outputs.ipynb), and train a new model using state-of-the-art natural language understanding with BERT tokenization and embeddings.

TODO
* explain BERT
* mention huggingface transformers and how it is integrated, https://huggingface.co/transformers/index.html

1. Retokenize the entire corpus using a "BERT-compatible" tokenizer, and map the token/entity labels from the original corpus on to the new tokenization.
1. Generate BERT embeddings for every token in the entire corpus in one pass, and store those embeddings in a DataFrame column (of type TensorType) alongside the tokens and labels.
1. Persist the DataFrame with computed BERT embeddings to disk as a checkpoint.
1. Use the embeddings to quickly train a model that will classify token class.
1. Make predictions of the token classes on the test set, adding predicted class probabilities as a TensorArray to the DataFrame.
1. Drill down into the DataFrame with some analysis on the predictions.

In [ ]:
# INITIALIZATION BOILERPLATE

# The Jupyter kernel for this notebook usually starts up inside the notebooks
# directory, but the text_extensions_for_pandas package code is in the parent
# directory. Add that parent directory to the front of the Python include path.
import sys
if ".." not in sys.path:
    sys.path.insert(0, "..")

# Libraries
import numpy as np
import pandas as pd
import time
import torch
import transformers
from typing import *

import sklearn.pipeline

import matplotlib.pyplot as plt
import ipywidgets
from IPython.display import display

# And of course we need the text_extensions_for_pandas library itself.
import text_extensions_for_pandas as tp

## Environment Setup

This notebook requires a Python 3.7 or later environment with NumPy, Pandas, scikit-learn and Huggingface `transformers`. 

The notebook also requires the  `text_extensions_for_pandas` library. You can satisfy this dependency in two ways:

* Run `pip install text_extensions_for_pandas` before running this notebook. This command adds the library to your Python environment.
* Run this notebook out of your local copy of the Text Extensions for Pandas project's [source tree](https://github.com/CODAIT/text-extensions-for-pandas). In this case, the notebook will use the version of Text Extensions for Pandas in your local source tree **if the package is not installed in your Python environment**.

In [28]:
import os
import sys
from typing import *
import numpy as np
import pandas as pd
import sklearn.pipeline
import transformers

# And of course we need the text_extensions_for_pandas library itself.
try:
    import text_extensions_for_pandas as tp
except ModuleNotFoundError as e:
    # If we're running from within the project source tree and the parent Python
    # environment doesn't have the text_extensions_for_pandas package, use the
    # version in the local source tree.
    if not os.getcwd().endswith("notebooks"):
        raise e
    if ".." not in sys.path:
        sys.path.insert(0, "..")
    import text_extensions_for_pandas as tp

# TensorArray Basics

In [2]:
# Construct from a numpy.ndarray
arr = tp.TensorArray(np.arange(10).reshape(5, 2))
arr, arr.dtype

(array([[0, 1],
        [2, 3],
        [4, 5],
        [6, 7],
        [8, 9]]),
 <text_extensions_for_pandas.array.tensor.TensorType at 0x7ff110741950>)

In [3]:
# Wrap in a Pandas Series
s = pd.Series(arr)
s

0   [0 1]
1   [2 3]
2   [4 5]
3   [6 7]
4   [8 9]
dtype: TensorType

In [4]:
# Convert back to numpy using the provided array interface
np_arr = np.asarray(s)
np_arr, np_arr.dtype

(array([[0, 1],
        [2, 3],
        [4, 5],
        [6, 7],
        [8, 9]]),
 dtype('int64'))

In [5]:
# Apply operations on the Series, result is another Series of type TensorType
thresh = s > 4
thresh

0    [False False]
1    [False False]
2    [False  True]
3    [ True  True]
4    [ True  True]
dtype: TensorType

In [6]:
# Select items using a mix of numpy and pandas, use `.array` to get the Series as a `TensorArray`
# which can be used on numpy operations
s[np.all(thresh.array, axis=1)] * 2

3   [12 14]
4   [16 18]
dtype: TensorType

In [7]:
# TensorArray can also be added to a Pandas DataFrame
df = pd.DataFrame({"time": pd.date_range('2018-01-01', periods=5, freq='H'), "features": arr})
df

                 time features
0 2018-01-01 00:00:00    [0 1]
1 2018-01-01 01:00:00    [2 3]
2 2018-01-01 02:00:00    [4 5]
3 2018-01-01 03:00:00    [6 7]
4 2018-01-01 04:00:00    [8 9]

In [8]:
# TensorArray will be incorporated with standard DataFrame operations 
df.sort_values(by="time", ascending=False)

                 time features
4 2018-01-01 04:00:00    [8 9]
3 2018-01-01 03:00:00    [6 7]
2 2018-01-01 02:00:00    [4 5]
1 2018-01-01 01:00:00    [2 3]
0 2018-01-01 00:00:00    [0 1]

# Example usage using BERT embeddings for Model Training on CoNLL-2003

Now let's put the TensorArray to use with an example. Here we use the CoNLL-2003 corpus and retokenize using a BERT tokenizer. Next, the BERT tokens will be used to compute BERT embeddings that will be stored in a TensorArray and added to the DataFrame. Finally, we can use the BERT embeddings to train a model and make predictions on the token class, which will also be added to the DataFrame as a TensorArray

In [9]:
# Download and cache the data set.
# NOTE: This data set is licensed for research use only. Be sure to adhere
#  to the terms of the license when using this data set!
data_set_info = tp.maybe_download_conll_data("outputs")
data_set_info

{'train': 'outputs/eng.train',
 'dev': 'outputs/eng.testa',
 'test': 'outputs/eng.testb'}

# Show how to retokenize with a BERT tokenizer.

Retokenize the corpus using a "BERT-compatible" tokenizer, and map the token/entity labels from the original corpus on to the new tokenization.

### Prepare the corpus for tokenization

In [10]:
# Read in the corpus in its original tokenization
corpus_raw = {}
for fold_name, file_name in data_set_info.items():
    df_list = tp.conll_2003_to_dataframes(file_name, 
                                          ["pos", "phrase", "ent"],
                                          [False, True, True])
    corpus_raw[fold_name] = [
        df.drop(columns=["pos", "phrase_iob", "phrase_type"])
        for df in df_list
    ]

test_raw = corpus_raw["test"]

# Pick out the dataframe for a single example document.
example_df = test_raw[5]
example_df

,span,ent_iob,ent_type,sentence,line_num
0,"[0, 10): '-DOCSTART-'",O,None,"[0, 10): '-DOCSTART-'",1469
1,"[11, 18): 'CRICKET'",O,None,"[11, 62): 'CRICKET- PAKISTAN V NEW ZEALAND ONE...",1471
2,"[18, 19): '-'",O,None,"[11, 62): 'CRICKET- PAKISTAN V NEW ZEALAND ONE...",1472
3,"[20, 28): 'PAKISTAN'",B,LOC,"[11, 62): 'CRICKET- PAKISTAN V NEW ZEALAND ONE...",1473
4,"[29, 30): 'V'",O,None,"[11, 62): 'CRICKET- PAKISTAN V NEW ZEALAND ONE...",1474
...,...,...,...,...,...
350,"[1620, 1621): '8'",O,None,"[1590, 1634): 'Third one-day match: December 8...",1865
351,"[1621, 1622): ','",O,None,"[1590, 1634): 'Third one-day match: December 8...",1866
352,"[1623, 1625): 'in'",O,None,"[1590, 1634): 'Third one-day match: December 8...",1867
353,"[1626, 1633): 'Karachi'",B,LOC,"[1590, 1634): 'Third one-day match: December 8...",1868
354,"[1633, 1634): '.'",O,None,"[1590, 1634): 'Third one-day match: December 8...",1869

In [11]:
spans_df = tp.iob_to_spans(example_df)

# Add a TokenSpan in addition to the Span column, and re-order columns
spans_df["token_span"] = tp.TokenSpanArray.from_char_offsets(spans_df["span"].array)
spans_df = spans_df.reindex(columns=["span", "token_span", "ent_type"])
spans_df

                             span                     token_span ent_type
0            [20, 28): 'PAKISTAN'           [20, 28): 'PAKISTAN'      LOC
1         [31, 42): 'NEW ZEALAND'        [31, 42): 'NEW ZEALAND'      LOC
2                 [80, 83): 'GMT'                [80, 83): 'GMT'     MISC
3             [85, 92): 'SIALKOT'            [85, 92): 'SIALKOT'      LOC
4           [94, 102): 'Pakistan'          [94, 102): 'Pakistan'      LOC
..                            ...                            ...      ...
69  [1488, 1501): 'Shahid Afridi'  [1488, 1501): 'Shahid Afridi'      PER
70    [1512, 1523): 'Salim Malik'    [1512, 1523): 'Salim Malik'      PER
71     [1535, 1545): 'Ijaz Ahmad'     [1535, 1545): 'Ijaz Ahmad'      PER
72       [1565, 1573): 'Pakistan'       [1565, 1573): 'Pakistan'      LOC
73        [1626, 1633): 'Karachi'        [1626, 1633): 'Karachi'      LOC

[74 rows x 3 columns]

### Initialize our BERT Tokenizer and Model

TODO talk about BERT

In [ ]:
# Huggingface transformers BERT Configuration
bert_model_name = "dslim/bert-base-NER"

tokenizer = transformers.BertTokenizerFast.from_pretrained(bert_model_name, 
                                                           add_special_tokens=True)
bert = transformers.BertModel.from_pretrained(bert_model_name)

In [12]:
# Retokenize the document's text with the BERT tokenizer
bert_toks_df = tp.make_bert_tokens(example_df["span"].values[0].target_text, tokenizer)

# Add a TokenSpan in addition to the Span column, and re-order columns
bert_toks_df["token_span"] = tp.TokenSpanArray.from_char_offsets(bert_toks_df["span"].array)
bert_toks_df = bert_toks_df.reindex(columns=["token_id", "span", "token_span", "input_id", "token_type_id", "attention_mask", "special_tokens_mask"])
bert_toks_df

,token_id,span,token_span,input_id,token_type_id,attention_mask,special_tokens_mask
0,0,"[0, 0): ''","[0, 0): ''",101,0,1,True
1,1,"[0, 1): '-'","[0, 1): '-'",118,0,1,False
2,2,"[1, 2): 'D'","[1, 2): 'D'",141,0,1,False
3,3,"[2, 4): 'OC'","[2, 4): 'OC'",9244,0,1,False
4,4,"[4, 6): 'ST'","[4, 6): 'ST'",9272,0,1,False
...,...,...,...,...,...,...,...
684,684,"[1621, 1622): ','","[1621, 1622): ','",117,0,1,False
685,685,"[1623, 1625): 'in'","[1623, 1625): 'in'",1107,0,1,False
686,686,"[1626, 1633): 'Karachi'","[1626, 1633): 'Karachi'",16237,0,1,False
687,687,"[1633, 1634): '.'","[1633, 1634): '.'",119,0,1,False
688,688,"[0, 0): ''","[0, 0): ''",102,0,1,True

In [13]:
# BERT tokenization includes special zero-length tokens.
bert_toks_df[bert_toks_df["special_tokens_mask"]]

,token_id,span,token_span,input_id,token_type_id,attention_mask,special_tokens_mask
0,0,"[0, 0): ''","[0, 0): ''",101,0,1,True
688,688,"[0, 0): ''","[0, 0): ''",102,0,1,True

In [14]:
# Align the BERT tokens with the original tokenization
bert_token_spans = tp.TokenSpanArray.align_to_tokens(bert_toks_df["span"],
                                                     spans_df["token_span"])

pd.DataFrame({
    "original_span": spans_df["token_span"],
    "bert_token_span": bert_token_spans,
    "ent_type": spans_df["ent_type"]
})

                    original_span                bert_token_span ent_type
0            [20, 28): 'PAKISTAN'           [20, 28): 'PAKISTAN'      LOC
1         [31, 42): 'NEW ZEALAND'        [31, 42): 'NEW ZEALAND'      LOC
2                 [80, 83): 'GMT'                [80, 83): 'GMT'     MISC
3             [85, 92): 'SIALKOT'            [85, 92): 'SIALKOT'      LOC
4           [94, 102): 'Pakistan'          [94, 102): 'Pakistan'      LOC
..                            ...                            ...      ...
69  [1488, 1501): 'Shahid Afridi'  [1488, 1501): 'Shahid Afridi'      PER
70    [1512, 1523): 'Salim Malik'    [1512, 1523): 'Salim Malik'      PER
71     [1535, 1545): 'Ijaz Ahmad'     [1535, 1545): 'Ijaz Ahmad'      PER
72       [1565, 1573): 'Pakistan'       [1565, 1573): 'Pakistan'      LOC
73        [1626, 1633): 'Karachi'        [1626, 1633): 'Karachi'      LOC

[74 rows x 3 columns]

In [15]:
# Generate IOB2 tags and entity labels that align with the BERT tokens.
# See https://en.wikipedia.org/wiki/Inside%E2%80%93outside%E2%80%93beginning_(tagging)
bert_toks_df[["ent_iob", "ent_type"]] = tp.spans_to_iob(bert_token_spans, 
                                                        spans_df["ent_type"])
bert_toks_df

,token_id,span,token_span,input_id,token_type_id,attention_mask,special_tokens_mask,ent_iob,ent_type
0,0,"[0, 0): ''","[0, 0): ''",101,0,1,True,O,<NA>
1,1,"[0, 1): '-'","[0, 1): '-'",118,0,1,False,O,<NA>
2,2,"[1, 2): 'D'","[1, 2): 'D'",141,0,1,False,O,<NA>
3,3,"[2, 4): 'OC'","[2, 4): 'OC'",9244,0,1,False,O,<NA>
4,4,"[4, 6): 'ST'","[4, 6): 'ST'",9272,0,1,False,O,<NA>
...,...,...,...,...,...,...,...,...,...
684,684,"[1621, 1622): ','","[1621, 1622): ','",117,0,1,False,O,<NA>
685,685,"[1623, 1625): 'in'","[1623, 1625): 'in'",1107,0,1,False,O,<NA>
686,686,"[1626, 1633): 'Karachi'","[1626, 1633): 'Karachi'",16237,0,1,False,B,LOC
687,687,"[1633, 1634): '.'","[1633, 1634): '.'",119,0,1,False,O,<NA>
688,688,"[0, 0): ''","[0, 0): ''",102,0,1,True,O,<NA>

In [138]:
# Create a Pandas categorical type for consistent encoding of categories
# across all documents.
ENTITY_TYPES = ["LOC", "MISC", "ORG", "PER"]
token_class_dtype, int_to_label, label_to_int = tp.make_iob_tag_categories(ENTITY_TYPES)
token_class_dtype

CategoricalDtype(categories=['O', 'B-LOC', 'B-MISC', 'B-ORG', 'B-PER', 'I-LOC', 'I-MISC',
                  'I-ORG', 'I-PER'],
                 ordered=False)

In [16]:
# The traditional way to transform NER to token classification is to 
# treat each combination of {I,O,B} X {entity type} as a different
# class. Generate class labels in that format.
classes_df = tp.add_token_classes(bert_toks_df, token_class_dtype)
classes_df

,token_id,span,token_span,input_id,token_type_id,attention_mask,special_tokens_mask,ent_iob,ent_type,token_class,token_class_id
0,0,"[0, 0): ''","[0, 0): ''",101,0,1,True,O,<NA>,O,0
1,1,"[0, 1): '-'","[0, 1): '-'",118,0,1,False,O,<NA>,O,0
2,2,"[1, 2): 'D'","[1, 2): 'D'",141,0,1,False,O,<NA>,O,0
3,3,"[2, 4): 'OC'","[2, 4): 'OC'",9244,0,1,False,O,<NA>,O,0
4,4,"[4, 6): 'ST'","[4, 6): 'ST'",9272,0,1,False,O,<NA>,O,0
...,...,...,...,...,...,...,...,...,...,...,...
684,684,"[1621, 1622): ','","[1621, 1622): ','",117,0,1,False,O,<NA>,O,0
685,685,"[1623, 1625): 'in'","[1623, 1625): 'in'",1107,0,1,False,O,<NA>,O,0
686,686,"[1626, 1633): 'Karachi'","[1626, 1633): 'Karachi'",16237,0,1,False,B,LOC,B-LOC,1
687,687,"[1633, 1634): '.'","[1633, 1634): '.'",119,0,1,False,O,<NA>,O,0
688,688,"[0, 0): ''","[0, 0): ''",102,0,1,True,O,<NA>,O,0

# Show how to compute embeddings

In [17]:
# Adds embeddings to our example dataframe.
embeddings_df = tp.add_embeddings(classes_df, bert)
embeddings_df

,token_id,span,token_span,input_id,token_type_id,attention_mask,special_tokens_mask,ent_iob,ent_type,token_class,token_class_id,embedding
0,0,"[0, 0): ''","[0, 0): ''",101,0,1,True,O,<NA>,O,0,[-8.30711797e-02 -3.59590203e-01 1.01506817e+0...
1,1,"[0, 1): '-'","[0, 1): '-'",118,0,1,False,O,<NA>,O,0,[-2.28625670e-01 -4.93136197e-01 1.28423226e+0...
2,2,"[1, 2): 'D'","[1, 2): 'D'",141,0,1,False,O,<NA>,O,0,[ 2.84805615e-02 -1.78742811e-01 1.54320943e+0...
3,3,"[2, 4): 'OC'","[2, 4): 'OC'",9244,0,1,False,O,<NA>,O,0,[-0.46517587 -0.2983605 1.0737675 -0.0316486...
4,4,"[4, 6): 'ST'","[4, 6): 'ST'",9272,0,1,False,O,<NA>,O,0,[-1.07308812e-01 -3.37210178e-01 1.22697961e+0...
...,...,...,...,...,...,...,...,...,...,...,...,...
684,684,"[1621, 1622): ','","[1621, 1622): ','",117,0,1,False,O,<NA>,O,0,[-1.28065705e-01 -2.32442445e-03 6.78131640e-0...
685,685,"[1623, 1625): 'in'","[1623, 1625): 'in'",1107,0,1,False,O,<NA>,O,0,[ 0.30534053 -0.526257 0.8281703 -0.2741491...
686,686,"[1626, 1633): 'Karachi'","[1626, 1633): 'Karachi'",16237,0,1,False,B,LOC,B-LOC,1,[-0.04873929 -0.33797333 -0.05835138 0.7557763...
687,687,"[1633, 1634): '.'","[1633, 1634): '.'",119,0,1,False,O,<NA>,O,0,[-5.28932782e-03 -2.97430724e-01 7.16174304e-0...
688,688,"[0, 0): ''","[0, 0): ''",102,0,1,True,O,<NA>,O,0,[-5.03023565e-01 3.62538606e-01 7.31493533e-0...

# Generate BERT tokens and BERT embeddings for the entire corpus

Generate BERT embeddings for every token in the entire corpus in one pass, 
and store those embeddings in a dataframe column (of type TensorType) 
alongside the tokens and labels.

In [18]:
# Convienence function to combine the previous few cells' operations in a single call.
tp.conll_to_bert(example_df, tokenizer, bert, token_class_dtype)

,token_id,span,input_id,token_type_id,attention_mask,special_tokens_mask,ent_iob,ent_type,token_class,token_class_id,embedding
0,0,"[0, 0): ''",101,0,1,True,O,<NA>,O,0,[-8.30711797e-02 -3.59590203e-01 1.01506817e+0...
1,1,"[0, 1): '-'",118,0,1,False,O,<NA>,O,0,[-2.28625670e-01 -4.93136197e-01 1.28423226e+0...
2,2,"[1, 2): 'D'",141,0,1,False,O,<NA>,O,0,[ 2.84805615e-02 -1.78742811e-01 1.54320943e+0...
3,3,"[2, 4): 'OC'",9244,0,1,False,O,<NA>,O,0,[-0.46517587 -0.2983605 1.0737675 -0.0316486...
4,4,"[4, 6): 'ST'",9272,0,1,False,O,<NA>,O,0,[-1.07308812e-01 -3.37210178e-01 1.22697961e+0...
...,...,...,...,...,...,...,...,...,...,...,...
684,684,"[1621, 1622): ','",117,0,1,False,O,<NA>,O,0,[-1.28065705e-01 -2.32442445e-03 6.78131640e-0...
685,685,"[1623, 1625): 'in'",1107,0,1,False,O,<NA>,O,0,[ 0.30534053 -0.526257 0.8281703 -0.2741491...
686,686,"[1626, 1633): 'Karachi'",16237,0,1,False,B,LOC,B-LOC,1,[-0.04873929 -0.33797333 -0.05835138 0.7557763...
687,687,"[1633, 1634): '.'",119,0,1,False,O,<NA>,O,0,[-5.28932782e-03 -2.97430724e-01 7.16174304e-0...
688,688,"[0, 0): ''",102,0,1,True,O,<NA>,O,0,[-5.03023565e-01 3.62538606e-01 7.31493533e-0...

In [19]:
# Run the entire corpus through our processing pipeline.
bert_toks_by_fold = {}
for fold_name in corpus_raw.keys():
    print(f"Processing fold '{fold_name}'...")
    raw = corpus_raw[fold_name]
    bert_toks_by_fold[fold_name] = tp.run_with_progress_bar(
        len(raw), lambda i: tp.conll_to_bert(raw[i], tokenizer, 
                                             bert, token_class_dtype))
bert_toks_by_fold["dev"][20]

Processing fold 'train'...

IntProgress(value=0, description='Starting...', layout=Layout(width='100%'), max=946, style=ProgressStyle(desc…

Processing fold 'dev'...

IntProgress(value=0, description='Starting...', layout=Layout(width='100%'), max=216, style=ProgressStyle(desc…

Processing fold 'test'...

IntProgress(value=0, description='Starting...', layout=Layout(width='100%'), max=231, style=ProgressStyle(desc…

,token_id,span,input_id,token_type_id,attention_mask,special_tokens_mask,ent_iob,ent_type,token_class,token_class_id,embedding
0,0,"[0, 0): ''",101,0,1,True,O,<NA>,O,0,[-0.17669654 -0.39899608 0.9088872 0.2128861...
1,1,"[0, 1): '-'",118,0,1,False,O,<NA>,O,0,[-3.85537773e-01 -5.02327383e-01 1.17323220e+0...
2,2,"[1, 2): 'D'",141,0,1,False,O,<NA>,O,0,[-1.17190674e-01 -1.27011672e-01 1.38969100e+0...
3,3,"[2, 4): 'OC'",9244,0,1,False,O,<NA>,O,0,[-3.90257567e-01 -2.50433564e-01 1.07450700e+0...
4,4,"[4, 6): 'ST'",9272,0,1,False,O,<NA>,O,0,[-2.77328491e-01 -2.61601597e-01 1.07876039e+0...
...,...,...,...,...,...,...,...,...,...,...,...
2154,2154,"[5704, 5705): ')'",114,0,1,False,O,<NA>,O,0,[ 0.01539315 -0.04065072 1.0011852 0.0412664...
2155,2155,"[5706, 5708): '39'",3614,0,1,False,O,<NA>,O,0,[ 7.50392899e-02 1.44007439e-02 1.04323184e+0...
2156,2156,"[5708, 5709): '.'",119,0,1,False,O,<NA>,O,0,[-0.08579681 0.05905596 1.1146404 0.1048710...
2157,2157,"[5709, 5711): '93'",5429,0,1,False,O,<NA>,O,0,[ 1.13780675e-02 -2.63872057e-01 8.81803274e-0...
2158,2158,"[0, 0): ''",102,0,1,True,O,<NA>,O,0,[ 4.85132843e-01 1.57098746e+00 5.92935205e-0...

# Collate the data structures we've generated so far

In [20]:
# Create a single dataframe with the entire corpus's embeddings.
corpus_df = tp.combine_folds(bert_toks_by_fold)
corpus_df

,fold,doc_num,token_id,span,input_id,token_type_id,attention_mask,special_tokens_mask,ent_iob,ent_type,token_class,token_class_id,embedding
0,train,0,0,"[0, 0): ''",101,0,1,True,O,<NA>,O,0,[-9.85053703e-02 -4.05019075e-01 7.42887914e-0...
1,train,0,1,"[0, 1): '-'",118,0,1,False,O,<NA>,O,0,[-5.70215769e-02 -4.81121272e-01 9.89868402e-0...
2,train,0,2,"[1, 2): 'D'",141,0,1,False,O,<NA>,O,0,[-4.82420959e-02 -2.53300011e-01 1.16719234e+0...
3,train,0,3,"[2, 4): 'OC'",9244,0,1,False,O,<NA>,O,0,[-2.66830117e-01 -3.10087562e-01 1.00747287e+0...
4,train,0,4,"[4, 6): 'ST'",9272,0,1,False,O,<NA>,O,0,[-0.22296937 -0.2130852 0.93310183 -0.2613601...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
416536,test,230,314,"[1386, 1393): 'brother'",1711,0,1,False,O,<NA>,O,0,[-2.81729121e-02 -8.06238949e-02 9.80488896e-0...
416537,test,230,315,"[1393, 1394): ','",117,0,1,False,O,<NA>,O,0,[ 1.18173949e-01 -7.00848699e-02 8.65484953e-0...
416538,test,230,316,"[1395, 1400): 'Bobby'",5545,0,1,False,B,PER,B-PER,4,[-3.56894344e-01 3.14004630e-01 1.57385385e+0...
416539,test,230,317,"[1400, 1401): '.'",119,0,1,False,O,<NA>,O,0,[-1.89571261e-01 -2.45812088e-01 6.62573814e-0...
416540,test,230,318,"[0, 0): ''",102,0,1,True,O,<NA>,O,0,[-0.44689187 -0.31665224 0.7796887 0.3699534...

# Checkpoint
With the TensorArray from Text Extension for Pandas, the computed embeddings can be persisted as a tensor along with the rest of the DataFrame using standard Pandas input/output methods. Since this is a costly operation and the embeddings are deterministic, it can save lots of time to checkpoint the data here and save the results to disk. This will allow us to continue working with model training without needing to re-compute the BERT embeddings again.
 
 ## Save DataFrame with Embeddings Tensor

In [21]:
# Write the tokenized corpus with embeddings to a Feather file.
# We can't currently serialize span columns that cover multiple documents (see issue 73),
# so drop span columns from the contents we write to the Feather file.
cols_to_drop = [c for c in corpus_df.columns if "span" in c]
corpus_df.drop(columns=cols_to_drop).to_feather("outputs/corpus.feather")

## Load DataFrame with Previously Computed Embeddings

In [22]:
# Read the serialized embeddings back in so that you can rerun the model 
# training parts of this notebook (the cells from here onward) without 
# regenerating the embeddings.
corpus_df = pd.read_feather("outputs/corpus.feather")
corpus_df

,fold,doc_num,token_id,input_id,token_type_id,attention_mask,special_tokens_mask,ent_iob,ent_type,token_class,token_class_id,embedding
0,train,0,0,101,0,1,True,O,<NA>,O,0,[-9.85053703e-02 -4.05019075e-01 7.42887914e-0...
1,train,0,1,118,0,1,False,O,<NA>,O,0,[-5.70215769e-02 -4.81121272e-01 9.89868402e-0...
2,train,0,2,141,0,1,False,O,<NA>,O,0,[-4.82420959e-02 -2.53300011e-01 1.16719234e+0...
3,train,0,3,9244,0,1,False,O,<NA>,O,0,[-2.66830117e-01 -3.10087562e-01 1.00747287e+0...
4,train,0,4,9272,0,1,False,O,<NA>,O,0,[-0.22296937 -0.2130852 0.93310183 -0.2613601...
...,...,...,...,...,...,...,...,...,...,...,...,...
416536,test,230,314,1711,0,1,False,O,<NA>,O,0,[-2.81729121e-02 -8.06238949e-02 9.80488896e-0...
416537,test,230,315,117,0,1,False,O,<NA>,O,0,[ 1.18173949e-01 -7.00848699e-02 8.65484953e-0...
416538,test,230,316,5545,0,1,False,B,PER,B-PER,4,[-3.56894344e-01 3.14004630e-01 1.57385385e+0...
416539,test,230,317,119,0,1,False,O,<NA>,O,0,[-1.89571261e-01 -2.45812088e-01 6.62573814e-0...
416540,test,230,318,102,0,1,True,O,<NA>,O,0,[-0.44689187 -0.31665224 0.7796887 0.3699534...

# Training a model on the BERT embeddings

Now we will use the loaded BERT embeddings to train a multinomial model to predict the token class from the embeddings tensor.

In [23]:
# Additional initialization boilerplate
import sklearn.linear_model

In [24]:
train_df = corpus_df[corpus_df["fold"] == "train"]
train_df

,fold,doc_num,token_id,input_id,token_type_id,attention_mask,special_tokens_mask,ent_iob,ent_type,token_class,token_class_id,embedding
0,train,0,0,101,0,1,True,O,<NA>,O,0,[-9.85053703e-02 -4.05019075e-01 7.42887914e-0...
1,train,0,1,118,0,1,False,O,<NA>,O,0,[-5.70215769e-02 -4.81121272e-01 9.89868402e-0...
2,train,0,2,141,0,1,False,O,<NA>,O,0,[-4.82420959e-02 -2.53300011e-01 1.16719234e+0...
3,train,0,3,9244,0,1,False,O,<NA>,O,0,[-2.66830117e-01 -3.10087562e-01 1.00747287e+0...
4,train,0,4,9272,0,1,False,O,<NA>,O,0,[-0.22296937 -0.2130852 0.93310183 -0.2613601...
...,...,...,...,...,...,...,...,...,...,...,...,...
281104,train,945,53,17057,0,1,False,B,ORG,B-ORG,3,[ 7.55636692e-01 -9.18912172e-01 -1.40303954e-0...
281105,train,945,54,122,0,1,False,O,<NA>,O,0,[-1.15284957e-01 -4.44919914e-01 4.71556604e-0...
281106,train,945,55,4617,0,1,False,B,ORG,B-ORG,3,[ 4.56021696e-01 -8.97085190e-01 6.78616092e-0...
281107,train,945,56,123,0,1,False,O,<NA>,O,0,[-1.97137520e-01 -5.42719424e-01 2.94020921e-0...
281108,train,945,57,102,0,1,True,O,<NA>,O,0,[-5.76507807e-01 -4.21606839e-01 9.94703531e-0...

In [25]:
# Train a multinomial logistic regression model on the training set.
MULTI_CLASS = "multinomial"
    
# How many iterations to run the BGFS optimizer when fitting logistic
# regression models. 100 ==> Fast; 10000 ==> Full convergence
LBGFS_ITERATIONS = 10000

base_pipeline = sklearn.pipeline.Pipeline([
    # Standard scaler. This only makes a difference for certain classes
    # of embeddings.
    #("scaler", sklearn.preprocessing.StandardScaler()),
    ("mlogreg", sklearn.linear_model.LogisticRegression(
        multi_class=MULTI_CLASS,
        verbose=10,
        max_iter=LBGFS_ITERATIONS
    ))
])

X_train = train_df["embedding"].values
Y_train = train_df["token_class_id"]
base_model = base_pipeline.fit(X_train, Y_train)
base_model

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed: 18.0min remaining:    0.0s
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed: 18.0min finished

Pipeline(steps=[('mlogreg',
                 LogisticRegression(max_iter=10000, multi_class='multinomial',
                                    verbose=10))])

## Make Predictions on Token Class from BERT Embeddings

Using our model, we can now predict the token class from the test set using the computed embeddings.

In [ ]:
# TODO - nicer display of tensor float values?
#import sys
#np.set_printoptions(precision=4, suppress=True, floatmode="fixed", linewidth=100, threshold=sys.maxsize)

In [29]:
# Define a function that will let us make predictions on a fold of the corpus
def predict_on_df(df: pd.DataFrame, id_to_class: Dict[int, str], predictor):
    """
    Run a trained model on a DataFrame of tokens with embeddings.

    :param df: DataFrame of tokens for a document, containing a TokenSpan column
     called "embedding" for each token.
    :param id_to_class: Mapping from class ID to class name, as returned by
     :func:`text_extensions_for_pandas.make_iob_tag_categories`
    :param predictor: Python object with a `predict_proba` method that accepts
     a numpy array of embeddings.
    :returns: A copy of `df`, with the following additional columns:
     `predicted_id`, `predicted_class`, `predicted_iob`, `predicted_type`
     and `predicted_class_pr`.
    """
    result_df = df.copy()
    class_pr = tp.TensorArray(predictor.predict_proba(result_df["embedding"]))
    result_df["predicted_id"] = np.argmax(class_pr, axis=1)
    result_df["predicted_class"] = [id_to_class[i]
                                    for i in result_df["predicted_id"].values]
    iobs, types = tp.decode_class_labels(result_df["predicted_class"].values)
    result_df["predicted_iob"] = iobs
    result_df["predicted_type"] = types
    result_df["predicted_class_pr"] = class_pr
    return result_df

In [30]:
# Look at results on the test set
test_results_df = predict_on_df(corpus_df[corpus_df["fold"] == "test"], 
                                     int_to_label, base_model)
test_results_df.head(5)

,fold,doc_num,token_id,input_id,token_type_id,attention_mask,special_tokens_mask,ent_iob,ent_type,token_class,token_class_id,embedding,predicted_id,predicted_class,predicted_iob,predicted_type,predicted_class_pr
351001,test,0,0,101,0,1,True,O,<NA>,O,0,[-1.96265429e-01 -4.50937688e-01 6.77535713e-0...,0,O,O,None,[9.99636348e-01 3.38372009e-06 8.82776168e-05 8...
351002,test,0,1,118,0,1,False,O,<NA>,O,0,[-3.18721086e-01 -5.07478833e-01 1.04645443e+0...,0,O,O,None,[9.99869294e-01 9.26613782e-08 2.55152780e-06 2...
351003,test,0,2,141,0,1,False,O,<NA>,O,0,[-0.08053827 -0.24774824 1.3562553 0.4017882...,0,O,O,None,[9.99850718e-01 1.05468701e-04 1.56706498e-05 4...
351004,test,0,3,9244,0,1,False,O,<NA>,O,0,[-6.87857866e-01 -3.02902311e-01 8.84272158e-0...,0,O,O,None,[9.99681969e-01 6.38913727e-11 4.56670269e-07 4...
351005,test,0,4,9272,0,1,False,O,<NA>,O,0,[-2.96323150e-01 -2.33131766e-01 9.39883947e-0...,0,O,O,None,[9.99997132e-01 3.27647798e-13 3.09048212e-09 1...

In [31]:
# Take a slice to show a region with more entities
test_results_df.iloc[40:50]

,fold,doc_num,token_id,input_id,token_type_id,attention_mask,special_tokens_mask,ent_iob,ent_type,token_class,token_class_id,embedding,predicted_id,predicted_class,predicted_iob,predicted_type,predicted_class_pr
351041,test,0,40,3309,0,1,False,I,PER,I-PER,8,[-2.10291892e-01 -8.53567719e-01 2.75510421e-0...,6,I-MISC,I,MISC,[1.98323229e-07 1.53130728e-10 2.78405342e-07 2...
351042,test,0,41,1306,0,1,False,I,PER,I-PER,8,[-2.32054338e-01 -9.29077148e-01 3.88911217e-0...,6,I-MISC,I,MISC,[3.10633651e-05 5.22947228e-06 6.52603219e-11 5...
351043,test,0,42,2001,0,1,False,I,PER,I-PER,8,[ 0.36844087 -0.6809115 -0.10591034 -0.3448123...,8,I-PER,I,PER,[2.00370294e-03 1.00450102e-01 6.38725156e-06 1...
351044,test,0,43,1181,0,1,False,I,PER,I-PER,8,[-3.01310837e-01 -6.54601932e-01 -1.72691718e-0...,8,I-PER,I,PER,[1.12122699e-04 3.13711716e-06 1.53931420e-07 4...
351045,test,0,44,2293,0,1,False,I,PER,I-PER,8,[-1.61161020e-01 -6.98910296e-01 2.34246060e-0...,5,I-LOC,I,LOC,[7.02232647e-03 3.18677296e-03 7.76558124e-08 6...
351046,test,0,45,18589,0,1,False,B,LOC,B-LOC,1,[-5.85671440e-02 -7.95588315e-01 3.36059839e-0...,1,B-LOC,B,LOC,[6.36387711e-03 9.02478479e-01 2.26270005e-06 4...
351047,test,0,46,118,0,1,False,I,LOC,I-LOC,5,[ 2.03760266e-01 -7.37309694e-01 -8.88528451e-0...,5,I-LOC,I,LOC,[2.00492628e-01 5.12452116e-05 1.72780996e-07 8...
351048,test,0,47,19016,0,1,False,I,LOC,I-LOC,5,[-1.03412405e-01 -3.36818755e-01 1.73846602e-0...,1,B-LOC,B,LOC,[3.35755616e-02 5.33375311e-01 1.00517707e-07 9...
351049,test,0,48,2249,0,1,False,I,LOC,I-LOC,5,[-4.05427039e-01 -6.51651978e-01 2.46960565e-0...,5,I-LOC,I,LOC,[3.03682213e-04 1.33970366e-04 1.83506170e-08 1...
351050,test,0,49,117,0,1,False,O,<NA>,O,0,[-1.68292239e-01 -6.47586107e-01 8.14902484e-0...,0,O,O,None,[9.99999663e-01 3.75752227e-08 1.14784193e-09 1...

In [70]:
def align_model_outputs_to_tokens(model_results: pd.DataFrame,
                                  tokens_by_doc: Dict[str, List[pd.DataFrame]]) \
    -> Dict[Tuple[str, int], pd.DataFrame]:
    """
    Join the results of running a model on an entire corpus back with multiple
    DataFrames of the token features for the individual documents.

    :param model_results: DataFrame containing results of prediction over a
     collection of documents. Must have the fields:
     * `fold`: What fold of the original collection each document came from
     * `doc_num`: Index of the document within the fold
     * `token_id`: Token offset of the token
     * `predicted_iob`/`predicted_type`: Model outputs
     Usually this DataFrame is the result of running :func:`predict_on_df()`
    :param tokens_by_doc: One DataFrame of tokens and labels per document,
     indexed by fold and document number (which must align with the values
     in the "fold" and "doc_num" columns of `model_results`).
     These DataFrames must contain columns `ent_iob` and `ent_type` that
     correspond to the `predicted_iob` and `predicted_type` values in
     `model_results`

    :returns: A dictionary that maps (collection, offset into collection)
     to DataFrame of results for that document
    """
    all_pairs = (
        model_results[["fold", "doc_num"]]
            .drop_duplicates()
            .to_records(index=False)
    )
    indexed_df = (
        model_results
            .set_index(["fold", "doc_num", "token_id"], verify_integrity=True)
            .sort_index()
    )
    results = {}  # Type: Dict[Tuple[str, int], pd.DataFrame]
    for collection, doc_num in all_pairs:
        doc_slice = indexed_df.loc[collection, doc_num].reset_index()
        doc_toks = tokens_by_doc[collection][doc_num][
            ["token_id", "span", "ent_iob", "ent_type"]
        ].rename(columns={"id": "token_id"})
        result_df = doc_toks.copy().merge(
            doc_slice[["token_id", "predicted_iob", "predicted_type", "predicted_class_pr"]])
        result_df["token_span"] = tp.TokenSpanArray.from_char_offsets(result_df["span"].array)
        results[(collection, doc_num)] = result_df
    return results

In [71]:
# Split model outputs for an entire fold back into documents and add
# token information.
test_results_by_doc = align_model_outputs_to_tokens(test_results_df,
                                                         bert_toks_by_fold)
test_results_by_doc[("test", 0)].iloc[40:60]

,token_id,span,ent_iob,ent_type,predicted_iob,predicted_type,predicted_class_pr,token_span
40,40,"[68, 70): 'di'",I,PER,I,MISC,[1.98323229e-07 1.53130728e-10 2.78405342e-07 2...,"[68, 70): 'di'"
41,41,"[70, 71): 'm'",I,PER,I,MISC,[3.10633651e-05 5.22947228e-06 6.52603219e-11 5...,"[70, 71): 'm'"
42,42,"[72, 74): 'La'",I,PER,I,PER,[2.00370294e-03 1.00450102e-01 6.38725156e-06 1...,"[72, 74): 'La'"
43,43,"[74, 75): 'd'",I,PER,I,PER,[1.12122699e-04 3.13711716e-06 1.53931420e-07 4...,"[74, 75): 'd'"
44,44,"[75, 77): 'ki'",I,PER,I,LOC,[7.02232647e-03 3.18677296e-03 7.76558124e-08 6...,"[75, 77): 'ki'"
45,45,"[78, 80): 'AL'",B,LOC,B,LOC,[6.36387711e-03 9.02478479e-01 2.26270005e-06 4...,"[78, 80): 'AL'"
46,46,"[80, 81): '-'",I,LOC,I,LOC,[2.00492628e-01 5.12452116e-05 1.72780996e-07 8...,"[80, 81): '-'"
47,47,"[81, 83): 'AI'",I,LOC,B,LOC,[3.35755616e-02 5.33375311e-01 1.00517707e-07 9...,"[81, 83): 'AI'"
48,48,"[83, 84): 'N'",I,LOC,I,LOC,[3.03682213e-04 1.33970366e-04 1.83506170e-08 1...,"[83, 84): 'N'"
49,49,"[84, 85): ','",O,<NA>,O,None,[9.99999663e-01 3.75752227e-08 1.14784193e-09 1...,"[84, 85): ','"
50,50,"[86, 92): 'United'",B,LOC,B,LOC,[2.51028780e-07 9.99603405e-01 3.07866592e-11 2...,"[86, 92): 'United'"
51,51,"[93, 97): 'Arab'",I,LOC,I,LOC,[8.11508165e-09 3.03978514e-04 5.33474518e-09 1...,"[93, 97): 'Arab'"
52,52,"[98, 106): 'Emirates'",I,LOC,I,LOC,[2.78570096e-07 3.88650043e-05 2.86783760e-09 1...,"[98, 106): 'Emirates'"
53,53,"[107, 111): '1996'",O,<NA>,O,None,[9.99953705e-01 1.57184578e-06 3.42883015e-06 5...,"[107, 111): '1996'"
54,54,"[111, 112): '-'",O,<NA>,O,None,[9.99850211e-01 5.24672363e-08 1.30060954e-05 4...,"[111, 112): '-'"
55,55,"[112, 114): '12'",O,<NA>,O,None,[9.99997388e-01 1.34097855e-08 8.66143097e-07 1...,"[112, 114): '12'"
56,56,"[114, 115): '-'",O,<NA>,O,None,[9.99781450e-01 7.01573480e-08 1.00812840e-04 7...,"[114, 115): '-'"
57,57,"[115, 117): '06'",O,<NA>,O,None,[9.99997720e-01 1.57105279e-08 1.43490900e-06 1...,"[115, 117): '06'"
58,58,"[118, 123): 'Japan'",B,LOC,B,LOC,[2.50234092e-11 9.99999980e-01 1.84964657e-10 1...,"[118, 123): 'Japan'"
59,59,"[124, 129): 'began'",O,<NA>,O,None,[9.99991356e-01 1.90346131e-08 8.43274086e-08 9...,"[124, 129): 'began'"

In [43]:
# Convert IOB2-format output (and gold standard tags) to spans.
test_actual_spans = {k: tp.iob_to_spans(v) for k, v in test_results_by_doc.items()}
test_model_spans = {k:
        tp.iob_to_spans(v, iob_col_name = "predicted_iob",
                        entity_type_col_name = "predicted_type")
          .rename(columns={"predicted_type": "ent_type"})
        for k, v in test_results_by_doc.items()}

test_model_spans[("test", 0)].head()

                span ent_type
0  [19, 24): 'JAPAN'      PER
1  [29, 34): 'LUCKY'      LOC
2  [40, 45): 'CHINA'      ORG
3    [78, 81): 'AL-'      LOC
4    [81, 84): 'AIN'      LOC

In [45]:
# Every once in a while, the model will split a token in the original data
# set into two entities. For example, look at document 202 of the test
# set:
doc_key = ("test", 202)
test_model_spans[doc_key].head(10)

                           span ent_type
0       [11, 22): 'RUGBY UNION'      ORG
1           [24, 31): 'BRITISH'     MISC
2            [41, 47): 'LONDON'      LOC
3           [70, 77): 'British'     MISC
4  [111, 125): 'Pilkington Cup'     MISC
5         [139, 146): 'Reading'      ORG
6               [150, 151): 'W'      ORG
7           [151, 156): 'idnes'      ORG
8         [159, 166): 'English'     MISC
9            [180, 184): 'Bath'      ORG

In [52]:
# Notice `[150, 151): 'W'` and `[151, 156): 'idnes'`. These outputs are part
# of the same original token.
# We can use spanner algebra to fix up these outputs.
spans_df = test_model_spans[doc_key]
toks_df = test_raw[202]

# First, find which tokens the spans overlap with:
overlaps_df = (
    tp
    .overlap_join(spans_df["span"], toks_df["span"],
                 "span", "corpus_token")
    .merge(spans_df)
)
overlaps_df.head(10)

                           span              corpus_token ent_type
0       [11, 22): 'RUGBY UNION'         [11, 16): 'RUGBY'      ORG
1       [11, 22): 'RUGBY UNION'         [17, 22): 'UNION'      ORG
2           [24, 31): 'BRITISH'       [24, 31): 'BRITISH'     MISC
3            [41, 47): 'LONDON'        [41, 47): 'LONDON'      LOC
4           [70, 77): 'British'       [70, 77): 'British'     MISC
5  [111, 125): 'Pilkington Cup'  [111, 121): 'Pilkington'     MISC
6  [111, 125): 'Pilkington Cup'         [122, 125): 'Cup'     MISC
7         [139, 146): 'Reading'     [139, 146): 'Reading'      ORG
8          [150, 156): 'Widnes'      [150, 156): 'Widnes'      ORG
9         [159, 166): 'English'     [159, 166): 'English'     MISC

In [53]:
# Next, compute the minimum span that covers all the corpus tokens
# that overlap with each entity span.
agg_df = (
    overlaps_df
    .groupby("span")
    .aggregate({"corpus_token": "sum", "ent_type": "first"})
    .reset_index()
)
agg_df.head(10)

                           span                  corpus_token ent_type
0       [11, 22): 'RUGBY UNION'       [11, 22): 'RUGBY UNION'      ORG
1           [24, 31): 'BRITISH'           [24, 31): 'BRITISH'     MISC
2            [41, 47): 'LONDON'            [41, 47): 'LONDON'      LOC
3           [70, 77): 'British'           [70, 77): 'British'     MISC
4  [111, 125): 'Pilkington Cup'  [111, 125): 'Pilkington Cup'     MISC
5         [139, 146): 'Reading'         [139, 146): 'Reading'      ORG
6          [150, 156): 'Widnes'          [150, 156): 'Widnes'      ORG
7         [159, 166): 'English'         [159, 166): 'English'     MISC
8            [180, 184): 'Bath'            [180, 184): 'Bath'      ORG
9      [188, 198): 'Harlequins'      [188, 198): 'Harlequins'      ORG

In [55]:
# Finally, take unique values and covert character-based spans to spans
# in the corpus tokenization (since the new offsets might not match a
# BERT tokenizer token boundary)
cons_df = (
    tp.consolidate(agg_df, "corpus_token")
    [["corpus_token", "ent_type"]]
    .rename(columns={"corpus_token": "span"})
)
cons_df["span"] = tp.TokenSpanArray.align_to_tokens(toks_df["span"],
                                                          cons_df["span"])
cons_df.head(10)

                           span ent_type
0       [11, 22): 'RUGBY UNION'      ORG
1           [24, 31): 'BRITISH'     MISC
2            [41, 47): 'LONDON'      LOC
3           [70, 77): 'British'     MISC
4  [111, 125): 'Pilkington Cup'     MISC
5         [139, 146): 'Reading'      ORG
6          [150, 156): 'Widnes'      ORG
7         [159, 166): 'English'     MISC
8            [180, 184): 'Bath'      ORG
9      [188, 198): 'Harlequins'      ORG

In [50]:
# text_extensions_for_pandas contains a single function that repeats the actions of the 
# previous 3 cells.
tp.align_bert_tokens_to_corpus_tokens(test_model_spans[doc_key], test_raw[202]).head(10)

                            span ent_type
0        [11, 22): 'RUGBY UNION'      ORG
1            [24, 31): 'BRITISH'     MISC
2             [41, 47): 'LONDON'      LOC
3            [70, 77): 'British'     MISC
4   [111, 125): 'Pilkington Cup'     MISC
5          [139, 146): 'Reading'      ORG
6           [150, 156): 'Widnes'      ORG
8          [159, 166): 'English'     MISC
9             [180, 184): 'Bath'      ORG
10      [188, 198): 'Harlequins'      ORG

In [51]:
# Run all of our dataframes through `align_bert_tokens_to_corpus_tokens`
keys = list(test_model_spans.keys())
new_values = tp.run_with_progress_bar(
    len(keys), 
    lambda i: tp.align_bert_tokens_to_corpus_tokens(test_model_spans[keys[i]], test_raw[keys[i][1]]))
test_model_spans = {k: v for k, v in zip(keys, new_values)}
test_model_spans[doc_key].head(10)

IntProgress(value=0, description='Starting...', layout=Layout(width='100%'), max=231, style=ProgressStyle(desc…

                            span ent_type
0        [11, 22): 'RUGBY UNION'      ORG
1            [24, 31): 'BRITISH'     MISC
2             [41, 47): 'LONDON'      LOC
3            [70, 77): 'British'     MISC
4   [111, 125): 'Pilkington Cup'     MISC
5          [139, 146): 'Reading'      ORG
6           [150, 156): 'Widnes'      ORG
8          [159, 166): 'English'     MISC
9             [180, 184): 'Bath'      ORG
10      [188, 198): 'Harlequins'      ORG

## Compute Precision/Recall

In [56]:
# Same per-document statistics calculation code as in CoNLL_2.ipynb
test_stats_by_doc = tp.compute_accuracy_by_document(test_actual_spans, test_model_spans)
test_stats_by_doc

,fold,doc_num,num_true_positives,num_extracted,num_entities,precision,recall,F1
0,test,0,42,46,45,0.913043,0.933333,0.923077
1,test,1,41,44,44,0.931818,0.931818,0.931818
2,test,2,52,54,54,0.962963,0.962963,0.962963
3,test,3,42,44,44,0.954545,0.954545,0.954545
4,test,4,18,19,19,0.947368,0.947368,0.947368
...,...,...,...,...,...,...,...,...
226,test,226,7,7,7,1.000000,1.000000,1.000000
227,test,227,18,20,21,0.900000,0.857143,0.878049
228,test,228,23,28,27,0.821429,0.851852,0.836364
229,test,229,26,27,27,0.962963,0.962963,0.962963
230,test,230,25,27,28,0.925926,0.892857,0.909091

In [57]:
# Collection-wide precision and recall can be computed by aggregating
# our dataframe.
tp.compute_global_accuracy(test_stats_by_doc)

{'num_true_positives': 4924,
 'num_entities': 5648,
 'num_extracted': 5600,
 'precision': 0.8792857142857143,
 'recall': 0.8718130311614731,
 'F1': 0.8755334281650072}

## [WIP] Further Analysis

In [77]:
# Find the predictions that had the lowest probability to see what the model did not predict strongly
# We can easily mix numpy functions on the TensorArray with standard Pandas on the entire DataFrame
# Here we find the max probability for each prediction, then sort the DataFrame by that value ascending
test_results_df["class_max_pr"] = np.max(test_results_df["predicted_class_pr"].array, axis=1)
pr_asc_df = test_results_df.sort_values(by="class_max_pr")

# Select relevant columns and show lowest 20 predictions
pr_asc_df[["doc_num", "token_id", "token_class", "predicted_class", "class_max_pr", "predicted_class_pr"]].head(20)

,doc_num,token_id,token_class,predicted_class,class_max_pr,predicted_class_pr
414699,222,371,O,B-MISC,0.238123,[0.08202944 0.00349575 0.23812346 0.14204107 0....
390307,133,8,B-LOC,B-MISC,0.291589,[2.62719988e-01 2.38731092e-01 2.91588782e-01 3...
367670,54,49,I-ORG,I-ORG,0.294557,[1.76412153e-01 3.86455931e-07 4.47598135e-07 7...
363788,42,28,O,O,0.309699,[3.09698791e-01 1.89220263e-05 4.49656243e-05 5...
411548,213,14,I-MISC,I-LOC,0.317874,[2.89094277e-01 3.86128605e-05 1.78886350e-04 3...
385606,114,10,I-LOC,B-MISC,0.327414,[2.28951121e-01 2.04707195e-06 3.27413638e-01 1...
358565,23,387,B-ORG,B-ORG,0.327566,[2.80056412e-01 1.09979216e-01 9.60765376e-02 3...
358426,23,248,I-ORG,I-MISC,0.347311,[1.80356203e-02 1.90402981e-03 3.16516185e-02 2...
364233,44,20,I-ORG,I-PER,0.348541,[1.22118924e-03 3.17763625e-05 1.27397341e-05 4...
386205,116,116,O,I-PER,0.350508,[3.24629125e-01 2.88704564e-05 1.68123889e-05 8...
358450,23,272,O,I-LOC,0.351102,[8.63139036e-02 5.52905711e-04 5.72049257e-03 2...
412404,216,17,I-MISC,I-PER,0.359214,[3.10488030e-01 1.26875670e-07 2.63789058e-08 7...
416251,230,29,O,I-LOC,0.359878,[2.88083282e-01 1.36639110e-06 4.85029114e-08 1...
363895,43,18,I-PER,I-ORG,0.361754,[2.13445946e-01 4.74910606e-07 2.49798073e-06 5...
358569,23,391,I-ORG,I-ORG,0.365688,[3.10879823e-01 2.03345842e-05 4.74213364e-05 3...
414800,222,472,I-ORG,I-PER,0.368855,[2.84349533e-01 7.96580580e-07 8.77423986e-05 3...
359866,26,509,I-ORG,I-LOC,0.369956,[2.70727857e-01 1.18119840e-03 9.09545542e-03 3...
404303,188,10,O,I-MISC,0.371122,[2.72015797e-03 5.62325845e-08 3.46505311e-11 2...
411834,214,36,I-LOC,B-PER,0.371229,[1.75226722e-01 9.06714172e-02 2.39299287e-04 8...
414510,222,182,O,I-PER,0.371584,[1.84664794e-01 1.05512389e-04 4.56295128e-05 6...

In [78]:
# Let's take a closer look at the most predictions with the lowest probability and see if there is a document that had the most difficulties
lowest_pr_df = pr_asc_df[["doc_num", "token_id", "input_id", "predicted_class", "class_max_pr"]].head(100)
lowest_pr_df["doc_num"].value_counts().head(5)

23     11
27     10
222     6
220     5
133     3
Name: doc_num, dtype: int64

In [ ]:
# It looks like document 23 of the test set had the most weak predictions, let's take a look at this document and see which spans caused this
# TODO - want to show the span with predictions with this document
all_spans = {
    k: [tp.iob_to_spans(df) for df in v] for k, v in corpus_raw.items()
}
fold = "test"
doc_offset = 23
doc_df = all_spans[fold][doc_offset]
doc_df

In [62]:
corpus_test = corpus_df[corpus_df["fold"] == "test"]
doc_23 = corpus_test[corpus_test["doc_num"] == 23]

In [118]:
q = test_results_by_doc[("test"), 23].iloc[387:392]
q

,token_id,span,ent_iob,ent_type,predicted_iob,predicted_type,predicted_class_pr,token_span
387,387,"[911, 913): 'VA'",B,ORG,B,ORG,[2.80056412e-01 1.09979216e-01 9.60765376e-02 3...,"[911, 913): 'VA'"
388,388,"[913, 915): 'NC'",I,ORG,O,None,[5.07208264e-01 7.57895366e-06 9.71331129e-06 6...,"[913, 915): 'NC'"
389,389,"[915, 916): 'O'",I,ORG,O,None,[5.58220550e-01 4.23603022e-06 3.18193166e-05 1...,"[915, 916): 'O'"
390,390,"[916, 917): 'U'",I,ORG,O,None,[7.19035426e-01 7.66025877e-06 6.77641140e-05 3...,"[916, 917): 'U'"
391,391,"[917, 919): 'VE'",I,ORG,I,ORG,[3.10879823e-01 2.03345842e-05 4.74213364e-05 3...,"[917, 919): 'VE'"

In [136]:
pd.DataFrame(q["predicted_class_pr"].array.to_numpy(), columns=int_to_label)

,O,B-LOC,B-MISC,B-ORG,B-PER,I-LOC,I-MISC,I-ORG,I-PER
0,0.280056,0.109979,0.096077,0.327566,0.158920,0.000026,0.000165,0.026778,0.000433
1,0.507208,0.000008,0.000010,0.000006,0.000001,0.000704,0.014455,0.472207,0.005401
2,0.558221,0.000004,0.000032,0.000016,0.000017,0.001999,0.032320,0.212432,0.194960
3,0.719035,0.000008,0.000068,0.000039,0.000016,0.000096,0.021634,0.044089,0.215015
4,0.310880,0.000020,0.000047,0.000342,0.000002,0.002338,0.004121,0.365688,0.316562

In [ ]:
# TODO: trying to get the char span for tokens
lowest_pr_df = lowest_pr_df.merge(test_df, on=["doc_num", "token_id"])
lowest_pr_df = lowest_pr_df[["doc_num", "token_id", "token_class", "predicted_class", "class_max_pr"]]
lowest_pr_df

In [65]:
example_df = corpus_raw["test"][23]
spans_df = tp.iob_to_spans(example_df)
bert_toks_df = tp.make_bert_tokens(example_df["span"].values[0].target_text, tokenizer)
bert_token_spans = tp.TokenSpanArray.align_to_tokens(bert_toks_df["span"],
                                                     spans_df["span"])
bert_toks_df[["ent_iob", "ent_type"]] = tp.spans_to_iob(bert_token_spans, 
                                                        spans_df["ent_type"])
bert_toks_df

,token_id,span,input_id,token_type_id,attention_mask,special_tokens_mask,ent_iob,ent_type
0,0,"[0, 0): ''",101,0,1,True,O,<NA>
1,1,"[0, 1): '-'",118,0,1,False,O,<NA>
2,2,"[1, 2): 'D'",141,0,1,False,O,<NA>
3,3,"[2, 4): 'OC'",9244,0,1,False,O,<NA>
4,4,"[4, 6): 'ST'",9272,0,1,False,O,<NA>
...,...,...,...,...,...,...,...,...
540,540,"[1228, 1230): 'DM'",20002,0,1,False,I,LOC
541,541,"[1230, 1232): 'ON'",11414,0,1,False,I,LOC
542,542,"[1232, 1234): 'TO'",18082,0,1,False,I,LOC
543,543,"[1234, 1235): 'N'",2249,0,1,False,I,LOC
544,544,"[0, 0): ''",102,0,1,True,O,<NA>

In [74]:
test_results_by_doc[("test", 23)].head(50)

,token_id,span,ent_iob,ent_type,predicted_iob,predicted_type,predicted_class_pr,token_span
0,0,"[0, 0): ''",O,<NA>,O,None,[9.98777674e-01 2.63167310e-05 1.86662206e-04 2...,"[0, 0): ''"
1,1,"[0, 1): '-'",O,<NA>,O,None,[9.99608524e-01 1.01706951e-06 9.78275812e-06 4...,"[0, 1): '-'"
2,2,"[1, 2): 'D'",O,<NA>,O,None,[9.99793594e-01 9.76208608e-05 2.39952739e-05 3...,"[1, 2): 'D'"
3,3,"[2, 4): 'OC'",O,<NA>,O,None,[9.93425837e-01 6.73497081e-08 1.16274335e-05 1...,"[2, 4): 'OC'"
4,4,"[4, 6): 'ST'",O,<NA>,O,None,[9.99922319e-01 1.13388610e-10 9.30916090e-08 1...,"[4, 6): 'ST'"
5,5,"[6, 8): 'AR'",O,<NA>,O,None,[9.99399761e-01 9.48746013e-07 5.95919740e-05 4...,"[6, 8): 'AR'"
6,6,"[8, 9): 'T'",O,<NA>,O,None,[9.96468727e-01 3.85340552e-08 7.21067291e-07 1...,"[8, 9): 'T'"
7,7,"[9, 10): '-'",O,<NA>,O,None,[9.98293417e-01 5.46407023e-06 2.36536592e-05 2...,"[9, 10): '-'"
8,8,"[11, 14): 'NHL'",B,ORG,B,ORG,[2.24790607e-05 2.45303321e-03 6.24772793e-04 9...,"[11, 14): 'NHL'"
9,9,"[15, 16): 'I'",O,<NA>,O,None,[9.92729478e-01 7.66368904e-06 1.53463530e-04 8...,"[15, 16): 'I'"
10,10,"[16, 18): 'CE'",O,<NA>,O,None,[7.91866902e-01 2.34181116e-07 8.40645499e-07 6...,"[16, 18): 'CE'"
11,11,"[19, 20): 'H'",O,<NA>,O,None,[9.98757094e-01 4.95954250e-07 5.10629254e-07 4...,"[19, 20): 'H'"
12,12,"[20, 22): 'OC'",O,<NA>,O,None,[9.88451556e-01 1.70732743e-09 4.02100025e-07 6...,"[20, 22): 'OC'"
13,13,"[22, 24): 'KE'",O,<NA>,O,None,[9.97313763e-01 1.04511247e-08 2.71861573e-06 1...,"[22, 24): 'KE'"
14,14,"[24, 25): 'Y'",O,<NA>,O,None,[9.65932684e-01 6.59668562e-07 1.79087250e-05 2...,"[24, 25): 'Y'"
15,15,"[25, 26): '-'",O,<NA>,O,None,[9.89969200e-01 6.35887091e-05 1.75240292e-04 3...,"[25, 26): '-'"
16,16,"[27, 29): 'ST'",O,<NA>,O,None,[9.98956823e-01 8.85983446e-05 1.38017923e-04 1...,"[27, 29): 'ST'"
17,17,"[29, 31): 'AN'",O,<NA>,O,None,[9.89622359e-01 3.63940572e-09 1.13051437e-06 3...,"[29, 31): 'AN'"
18,18,"[31, 33): 'DI'",O,<NA>,O,None,[9.90451243e-01 1.31592080e-09 2.03399361e-06 1...,"[31, 33): 'DI'"
19,19,"[33, 35): 'NG'",O,<NA>,O,None,[9.98533548e-01 2.52334660e-07 1.77290853e-05 1...,"[33, 35): 'NG'"
20,20,"[35, 36): 'S'",O,<NA>,O,None,[9.95154572e-01 2.86311519e-06 3.21656498e-06 3...,"[35, 36): 'S'"
21,21,"[37, 38): 'A'",O,<NA>,O,None,[9.99773217e-01 3.74510518e-07 1.15976879e-05 2...,"[37, 38): 'A'"
22,22,"[38, 40): 'FT'",O,<NA>,O,None,[9.99975290e-01 1.60965137e-08 3.22509367e-07 3...,"[38, 40): 'FT'"
23,23,"[40, 42): 'ER'",O,<NA>,O,None,[9.99697318e-01 1.46783222e-08 4.65885944e-07 2...,"[40, 42): 'ER'"
24,24,"[43, 44): 'T'",O,<NA>,O,None,[9.99996285e-01 1.01057027e-07 1.07157171e-08 3...,"[43, 44): 'T'"
25,25,"[44, 45): 'H'",O,<NA>,O,None,[9.99970671e-01 3.85973838e-08 1.10344344e-07 1...,"[44, 45): 'H'"
26,26,"[45, 47): 'UR'",O,<NA>,O,None,[9.99790806e-01 2.65041555e-08 2.15782724e-08 8...,"[45, 47): 'UR'"
27,27,"[47, 49): 'SD'",O,<NA>,O,None,[9.99721190e-01 6.69131219e-09 1.16407081e-08 1...,"[47, 49): 'SD'"
28,28,"[49, 50): 'A'",O,<NA>,O,None,[9.99942576e-01 9.54748331e-08 1.11403394e-07 5...,"[49, 50): 'A'"
29,29,"[50, 51): 'Y'",O,<NA>,O,None,[9.99683912e-01 2.99351176e-10 2.98319717e-10 1...,"[50, 51): 'Y'"
30,30,"[51, 52): '''",O,<NA>,O,None,[9.94319721e-01 1.75781627e-07 1.87781612e-08 2...,"[51, 52): '''"
31,31,"[52, 53): 'S'",O,<NA>,O,None,[9.98214616e-01 8.06485606e-07 1.39955730e-09 4...,"[52, 53): 'S'"
32,32,"[54, 56): 'GA'",O,<NA>,O,None,[9.99966253e-01 2.16320499e-07 1.59965068e-06 8...,"[54, 56): 'GA'"
33,33,"[56, 58): 'ME'",O,<NA>,O,None,[9.97732852e-01 1.94315199e-07 3.94194145e-09 2...,"[56, 58): 'ME'"
34,34,"[58, 59): 'S'",O,<NA>,O,None,[9.99660107e-01 8.60544602e-06 2.61745066e-08 1...,"[58, 59): 'S'"
35,35,"[59, 60): '.'",O,<NA>,O,None,[9.99973155e-01 3.96776066e-06 9.79357349e-07 1...,"[59, 60): '.'"
36,36,"[61, 63): 'NE'",B,LOC,B,LOC,[7.81953963e-09 9.99999249e-01 1.29720331e-10 7...,"[61, 63): 'NE'"
37,37,"[63, 64): 'W'",I,LOC,I,LOC,[7.65101001e-10 2.69769271e-05 1.33229323e-13 6...,"[63, 64): 'W'"
38,38,"[65, 66): 'Y'",I,LOC,I,LOC,[1.38237363e-10 5.61189836e-07 5.15792939e-14 7...,"[65, 66): 'Y'"
39,39,"[66, 68): 'OR'",I,LOC,I,LOC,[2.04907458e-08 6.74032088e-07 2.56204016e-13 5...,"[66, 68): 'OR'"
40,40,"[68, 69): 'K'",I,LOC,I,LOC,[1.40380317e-06 2.20258067e-08 1.46699903e-11 7...,"[68, 69): 'K'"
41,41,"[70, 74): '1996'",O,<NA>,O,None,[9.98708368e-01 1.65997241e-04 5.60661026e-04 6...,"[70, 74): '1996'"
42,42,"[74, 75): '-'",O,<NA>,O,None,[9.99571484e-01 1.84519911e-07 1.78715005e-05 1...,"[74, 75): '-'"
43,43,"[75, 77): '12'",O,<NA>,O,None,[9.99976818e-01 3.62973314e-07 6.89939402e-06 1...,"[75, 77): '12'"
44,44,"[77, 78): '-'",O,<NA>,O,None,[9.99750959e-01 8.15396789e-08 2.47303302e-05 4...,"[77, 78): '-'"
45,45,"[78, 80): '06'",O,<NA>,O,None,[9.98095630e-01 6.23963791e-06 2.51139889e-04 4...,"[78, 80): '06'"
46,46,"[81, 89): 'Standing'",O,<NA>,O,None,[9.99644671e-01 5.68407706e-05 6.03522326e-05 2...,"[81, 89): 'Standing'"
47,47,"[89, 90): 's'",O,<NA>,O,None,[9.98404761e-01 2.20288871e-06 2.35716042e-06 6...,"[89, 90): 's'"
48,48,"[91, 93): 'of'",O,<NA>,O,None,[9.99889866e-01 6.27709033e-07 3.07992677e-06 2...,"[91, 93): 'of'"
49,49,"[94, 102): 'National'",B,ORG,B,MISC,[4.56268159e-11 6.64806769e-07 9.99970149e-01 3...,"[94, 102): 'National'"

In [ ]:
test_model_spans[("test", 23)]

In [80]:
bert_toks_by_fold["test"][23].iloc[380:400]

,token_id,span,input_id,token_type_id,attention_mask,special_tokens_mask,ent_iob,ent_type,token_class,token_class_id,embedding
380,380,"[893, 894): 'O'",2346,0,1,False,I,ORG,I-ORG,7,[-9.56230640e-01 -8.52525651e-01 -2.55697429e-0...
381,381,"[895, 897): '17'",1542,0,1,False,O,<NA>,O,0,[-7.53681421e-01 -5.34573615e-01 2.97853976e-0...
382,382,"[898, 899): '6'",127,0,1,False,O,<NA>,O,0,[-5.08122385e-01 -3.48633051e-01 7.61998892e-0...
383,383,"[900, 901): '4'",125,0,1,False,O,<NA>,O,0,[-5.12067854e-01 -3.19513857e-01 8.18652749e-0...
384,384,"[902, 904): '97'",5311,0,1,False,O,<NA>,O,0,[-4.32366520e-01 -3.36563289e-01 8.48116577e-0...
385,385,"[905, 907): '56'",4376,0,1,False,O,<NA>,O,0,[-4.38618928e-01 -3.16424578e-01 8.72659743e-0...
386,386,"[908, 910): '38'",3383,0,1,False,O,<NA>,O,0,[-0.47988272 -0.3505001 0.8971388 -0.4028021...
387,387,"[911, 913): 'VA'",19497,0,1,False,B,ORG,B-ORG,3,[-5.86880565e-01 -4.14607137e-01 7.35883355e-0...
388,388,"[913, 915): 'NC'",15517,0,1,False,I,ORG,I-ORG,7,[-7.97141552e-01 -4.29197282e-01 4.51419413e-0...
389,389,"[915, 916): 'O'",2346,0,1,False,I,ORG,I-ORG,7,[-7.90252447e-01 -6.32849455e-01 3.05434912e-0...
390,390,"[916, 917): 'U'",2591,0,1,False,I,ORG,I-ORG,7,[-8.08590829e-01 -4.48245823e-01 4.20707345e-0...
391,391,"[917, 919): 'VE'",17145,0,1,False,I,ORG,I-ORG,7,[-8.53115380e-01 -3.89044493e-01 4.37507421e-0...
392,392,"[919, 920): 'R'",2069,0,1,False,I,ORG,I-ORG,7,[-9.01725769e-01 -5.09508669e-01 3.07233036e-0...
393,393,"[921, 923): '14'",1489,0,1,False,O,<NA>,O,0,[-5.87181628e-01 -4.06351388e-01 6.81519866e-0...
394,394,"[924, 926): '11'",1429,0,1,False,O,<NA>,O,0,[-5.07536411e-01 -3.66420865e-01 7.99301684e-0...
395,395,"[927, 928): '1'",122,0,1,False,O,<NA>,O,0,[-5.55888057e-01 -3.18182051e-01 8.06145906e-0...
396,396,"[929, 931): '84'",5731,0,1,False,O,<NA>,O,0,[-5.12974679e-01 -3.86997491e-01 8.04327011e-0...
397,397,"[932, 934): '83'",6032,0,1,False,O,<NA>,O,0,[-5.11453807e-01 -3.93474191e-01 8.11202228e-0...
398,398,"[935, 937): '29'",1853,0,1,False,O,<NA>,O,0,[-5.56672037e-01 -3.95028114e-01 8.32367659e-0...
399,399,"[938, 939): 'E'",142,0,1,False,B,ORG,B-ORG,3,[-8.92891109e-01 -9.52988625e-01 6.78915456e-0...

In [85]:
temp = bert_toks_by_fold["test"][23].iloc[387]

In [86]:
temp

token_id                                                             387
span                                                    [911, 913): 'VA'
input_id                                                           19497
token_type_id                                                          0
attention_mask                                                         1
special_tokens_mask                                                False
ent_iob                                                                B
ent_type                                                             ORG
token_class                                                        B-ORG
token_class_id                                                         3
embedding              [-5.86880565e-01 -4.14607137e-01  7.35883355e-...
Name: 387, dtype: object

In [89]:
temp = bert_toks_by_fold["test"][23]["embedding"]

In [91]:
temp = temp.array

In [92]:
temp.to_numpy().shape

(545, 768)

In [94]:
np.argmax(temp[387])

290

In [95]:
np.max(temp)

5.726604

In [102]:
np.max(temp[387])

2.1216264

In [99]:
temp[387].to_numpy().shape

(768,)

In [103]:
temp[387]

array([-5.86880565e-01, -4.14607137e-01,  7.35883355e-01, -3.49960953e-01,
       -1.10419023e+00,  5.56171358e-01, -1.05726337e+00, -6.27526641e-01,
       -1.39559552e-01,  6.83085799e-01, -1.92512333e-01,  5.32867253e-01,
        1.09646761e+00, -6.34886324e-01, -4.01558615e-02, -3.54092196e-03,
        7.90930688e-01, -2.02333555e-01,  4.74669337e-01, -3.83506685e-01,
        9.82084274e-01,  2.21006021e-01,  7.34063148e-01,  9.60599482e-01,
        6.64611831e-02,  6.55695140e-01,  5.70577502e-01,  1.21580768e+00,
        5.18718362e-01, -3.29866767e-01,  8.26823831e-01, -6.11632586e-01,
        2.26873085e-01,  9.32064593e-01, -7.58451700e-01, -5.50023496e-01,
       -5.19900620e-01,  4.13672686e-01,  2.34006703e-01, -7.40530968e-01,
        2.82394797e-01, -5.85331991e-02,  1.69016445e+00, -1.00741971e+00,
       -1.06480690e-02,  8.57280195e-01, -2.89813429e-01,  3.73435080e-01,
       -3.49846542e-01, -5.46235777e-02,  6.02176785e-02, -6.99522197e-02,
        1.26126838e+00, -1.00711286e+00,  1.05529165e+00, -5.87395243e-02,
        1.26367939e+00,  8.07671845e-01,  7.64733006e-04,  4.22622263e-01,
       -3.72444063e-01, -7.15763748e-01,  5.70470333e-01, -5.68675458e-01,
       -8.14801097e-01,  7.69006908e-01,  6.75165355e-01,  9.55312192e-01,
       -2.70455688e-01, -1.22826099e+00,  6.77267253e-01,  8.95510554e-01,
        7.14849234e-01, -2.74089158e-01, -8.53603423e-01, -6.84872866e-01,
       -8.85856807e-01,  7.51419306e-01,  1.82650998e-01,  1.00529715e-02,
       -7.53135264e-01,  1.11922011e-01, -5.38824163e-02,  6.80644035e-01,
        8.77047703e-02, -5.16029224e-02,  8.93401444e-01, -2.23861650e-01,
       -6.75429165e-01, -5.70590556e-01,  9.10386503e-01,  2.31988400e-01,
        6.54492497e-01,  4.38412368e-01,  1.08728707e+00, -1.35934159e-01,
        2.05441833e-01,  7.94668615e-01,  1.90456760e+00, -2.90434748e-01,
       -1.16843092e+00, -5.26074618e-02,  9.68655646e-01,  1.45344758e+00,
        3.12530309e-01,  9.25030947e-01,  1.50736332e+00, -2.20054150e-01,
       -1.97714299e-01, -1.58005118e+00,  4.76863712e-01,  4.87612009e-01,
       -1.25119877e+00,  4.83475298e-01,  2.96869516e-01, -5.19383550e-01,
       -4.55226414e-02, -7.74761066e-02, -6.83030903e-01, -3.81915241e-01,
       -8.79425928e-02, -3.19791138e-01,  3.78900141e-01, -1.14957738e+00,
       -9.56410408e-01,  5.38339555e-01, -1.34328401e+00, -8.54525328e-01,
        7.84336925e-02, -5.40001631e-01,  6.00316167e-01, -5.13454676e-01,
       -7.42352068e-01,  6.98232710e-01,  1.48503646e-01,  3.25912118e-01,
        1.50078619e+00,  2.72929758e-01,  4.51611847e-01, -1.36409804e-01,
        5.95943093e-01,  3.82515430e-01, -8.73697102e-01,  3.73452485e-01,
        8.28956008e-01, -4.88345921e-01,  2.95723587e-01,  8.64174306e-01,
        2.09591329e-01,  2.37692490e-01,  8.18896234e-01,  6.71698749e-01,
       -1.48030627e+00, -9.57746327e-01,  1.79485157e-01, -1.22348033e-01,
       -6.88108265e-01, -4.84125018e-01,  3.26489836e-01, -1.67083412e-01,
       -8.34715307e-01,  1.51601717e-01,  1.73054025e-01, -3.52726460e-01,
        1.60493767e+00, -1.25721025e+00,  1.56663060e+00, -9.36219811e-01,
        1.02645278e+00,  6.79309666e-01,  1.98697150e-01, -7.72240460e-01,
       -8.93374145e-01,  7.74869174e-02,  5.49755216e-01,  6.44292712e-01,
        4.61824149e-01, -1.04395032e+00, -8.31548125e-02,  3.87792408e-01,
        5.35064489e-02, -3.76760930e-01,  7.38545597e-01, -1.93994164e-01,
       -1.12788105e+00, -7.43685961e-01,  4.90930229e-01, -7.08711803e-01,
       -3.17205012e-01,  1.07481420e+00,  3.18715423e-01,  5.75823188e-01,
        3.90131325e-02, -7.50958681e-01,  2.05383047e-01,  2.82479495e-01,
        2.53682435e-01, -6.80349052e-01, -6.37707889e-01, -7.24326015e-01,
       -6.62942111e-01,  2.53692329e-01, -1.47725141e+00,  2.16225490e-01,
       -6.08395994e-01, -5.99436700e-01,  3.18354398e-01, -1.02993441e+00,
        4.22170967e-01, -1.48215592e-01, -1.34586227e+00, -7.04431713e-01,
        9.74172413e-01, -1.07273149e+00, -4.34681267e-01, -1.15672088e+00,
       -3.86095375e-01, -5.03867626e-01,  8.93923938e-01, -3.65170389e-01,
       -2.90220261e-01, -3.69154960e-02,  9.85094249e-01, -4.23458099e-01,
       -7.77231157e-02,  5.58072388e-01, -1.65151656e-01, -2.83285081e-01,
        8.26359510e-01, -6.75315201e-01,  5.16547561e-01, -1.54833198e+00,
       -9.16865587e-01,  7.58846760e-01,  8.70191753e-01, -4.60179597e-01,
       -7.55205870e-01,  2.04369873e-01,  3.73467356e-01, -6.47908961e-03,
       -3.05065997e-02, -5.01753092e-01, -4.56827283e-01,  1.18445563e+00,
        9.89000276e-02, -6.49101973e-01,  5.75019360e-01,  2.47459143e-01,
       -3.86799783e-01, -8.37262273e-01,  4.70926255e-01, -1.15017049e-01,
        7.23414958e-01, -4.35823143e-01,  1.11712682e+00, -1.20188165e+00,
       -2.05649301e-01, -1.42687678e-01, -3.09918225e-01,  2.73353219e-01,
        1.28043815e-01, -2.32072994e-01,  1.20858300e+00, -9.21270609e-01,
       -1.92857817e-01, -1.03145802e+00, -3.30641598e-01, -7.99467504e-01,
        7.13777006e-01, -1.61083746e+00, -1.43575311e+00, -5.49139492e-02,
        2.43286006e-02, -2.08390117e-01,  1.94390428e+00, -2.10447758e-01,
       -7.64452219e-01, -1.14383280e+00, -8.50190461e-01, -1.25941002e+00,
        1.09292591e+00, -2.90336937e-01, -5.11341155e-01,  1.15195501e+00,
        7.05393016e-01,  2.28847191e-01, -2.89689004e-01, -1.28722811e+00,
        7.08303392e-01,  1.41179577e-01,  2.12162638e+00, -9.50984955e-01,
       -7.29123056e-01, -1.91778153e-01, -1.60956189e-01,  8.57165694e-01,
       -7.76130080e-01,  1.90641269e-01, -1.00811207e+00, -5.84242404e-01,
        9.02836204e-01, -1.41298664e+00, -9.31200325e-01,  3.34452957e-01,
        4.95495945e-02, -2.49166226e+00, -1.32566988e-01,  7.02654541e-01,
       -9.07206059e-01,  9.13668871e-02, -1.32367685e-01,  1.33440942e-01,
       -1.75959229e-01, -5.94366901e-02, -3.12400520e-01,  8.65252256e-01,
        9.39083874e-01, -1.01980531e+00, -3.03522289e-01, -5.48266411e-01,
        4.99805838e-01,  6.08619489e-02,  6.78044975e-01, -2.31130689e-01,
        4.76317525e-01,  6.15187109e-01,  5.37829936e-01, -1.73920810e-01,
       -4.77210134e-01,  2.97275126e-01,  6.56336963e-01,  1.09953988e+00,
       -8.52471292e-01, -5.17127156e-01, -4.43997771e-01,  1.46117425e+00,
        5.41047864e-02,  3.78593117e-01, -1.24696589e+00, -6.39352977e-01,
       -8.41368735e-01,  1.16419578e+00,  3.94937634e-01, -4.72702801e-01,
        7.31807888e-01,  9.55604091e-02,  3.70889902e-01, -7.60874927e-01,
        9.41583887e-02,  5.44041157e-01,  1.13442671e+00,  3.44394773e-01,
       -4.14595544e-01,  7.21265435e-01,  3.76026243e-01, -4.19450849e-01,
       -5.02882779e-01,  2.14052036e-01,  1.92354545e-01,  8.41773331e-01,
       -2.70599037e-01, -7.35942185e-01, -1.95650999e-02, -3.63227963e-01,
        1.01867354e+00, -4.25244272e-01,  6.55498356e-03, -2.94443101e-01,
       -9.54085946e-01, -2.82273348e-02, -4.30450821e-03,  6.43558800e-02,
        3.32647711e-01,  9.25850630e-01,  1.19009030e+00,  6.21074587e-02,
       -1.48354799e-01, -7.07932770e-01,  2.75132120e-01,  3.75170261e-01,
       -5.51035285e-01,  1.24410525e-01, -4.00751770e-01, -3.91505092e-01,
        2.65222698e-01,  7.43703306e-01, -1.31570414e-01, -4.96457458e-01,
       -2.56709129e-01,  1.12122107e+00,  8.56973231e-01,  1.99799594e-02,
        7.20959365e-01, -1.42587829e+00, -4.94568735e-01, -3.62901121e-01,
       -7.98815668e-01,  8.53846192e-01,  2.88169652e-01,  3.84328991e-01,
       -3.11952978e-01,  5.34066498e-01, -1.01889491e+00, -6.86945021e-01,
       -6.79495633e-01,  1.75416619e-01, -4.07633156e-01,  3.44961286e-01,
       -6.30742490e-01,  1.22178957e-01, -3.40055972e-01,  5.61554730e-01,
        7.72092164e-01, -1.30605996e-01, -4.43493843e-01,  1.06286740e+00,
        2.93667078e-01, -4.21234429e-01,  1.04759002e+00,  4.52578336e-01,
       -1.33889616e+00, -4.86171901e-01, -5.02558172e-01, -2.62876749e-01,
       -1.20399606e+00, -3.37102115e-02, -2.59120613e-01, -1.90081939e-01,
        4.42608654e-01, -1.25219837e-01, -3.82118970e-01, -3.48312020e-01,
       -3.35004359e-01,  1.28355551e+00, -8.08535218e-01, -1.27690172e+00,
        5.43440819e-01, -1.62304008e+00,  5.80461979e-01,  1.00042760e+00,
       -6.19464040e-01, -8.19740832e-01, -1.44228029e+00, -1.12459230e+00,
        5.73452771e-01, -7.80387461e-01, -4.31895614e-01,  7.01068282e-01,
        8.05499911e-01, -6.32501364e-01, -2.88401634e-01,  2.05872238e-01,
        7.39222050e-01, -8.47935826e-02,  5.49870193e-01,  1.14965327e-02,
        8.10819566e-01, -8.14210236e-01,  5.90377033e-01, -2.54003286e-01,
        3.55457783e-01,  6.97020948e-01, -5.54656863e-01, -1.18474638e+00,
        5.19545078e-01, -9.40426290e-01,  9.80483353e-01, -2.86733836e-01,
       -1.57004669e-02, -3.44960183e-01,  5.97610116e-01,  1.58820987e+00,
       -6.48297727e-01,  3.63318890e-01, -4.16542888e-01, -4.84823555e-01,
        6.61209881e-01,  5.12923062e-01, -1.11308968e+00, -7.63942488e-03,
       -2.41876706e-01, -6.83103561e-01,  1.75542548e-01,  3.95636827e-01,
       -1.17583644e+00, -2.56636530e-01, -2.54345357e-01,  5.36248982e-01,
        2.81227171e-01, -1.06324029e+00, -9.55793560e-01, -1.80293679e+00,
       -2.99089789e-01, -8.36929798e-01, -4.49942768e-01, -6.40657902e-01,
        2.01224640e-01,  7.83924665e-03, -3.71530265e-01, -1.16898328e-01,
       -1.54402927e-02,  9.55004573e-01,  5.99735200e-01, -5.31231284e-01,
       -1.84946084e+00, -2.98775554e-01, -4.38553661e-01, -2.17969820e-01,
       -6.70983255e-01, -2.38726521e+00, -3.93299550e-01, -2.91501909e-01,
        1.20192635e+00, -2.72668272e-01, -3.48333925e-01, -3.75293911e-01,
        3.44860286e-01, -2.92928398e-01, -1.07642674e+00, -6.72989786e-01,
       -1.02680302e+00, -1.46421218e+00,  3.08900684e-01,  1.88070381e+00,
        2.96847522e-01, -5.28939068e-01, -3.58653456e-01, -2.19016239e-01,
       -2.95535296e-01,  8.94184634e-02, -1.60201657e+00,  8.68844271e-01,
        3.86776835e-01, -2.13830757e+00, -3.84248674e-01,  1.26592612e+00,
       -2.06362292e-01,  5.30138791e-01, -7.58396745e-01,  6.43527880e-02,
        3.35018218e-01, -8.71128917e-01,  4.80449766e-01, -2.77211607e-01,
       -3.25972110e-01,  6.31072521e-01, -6.78690374e-01, -3.49371821e-01,
        1.08057000e-02,  1.21411085e+00,  1.39031678e-01,  1.65198779e+00,
       -7.68179178e-01, -1.95866957e-01,  1.17919290e+00, -5.74728608e-01,
       -6.38426617e-02, -1.71308649e+00, -1.34535432e-01,  9.17211950e-01,
       -6.76393628e-01,  3.51641506e-01, -6.45211339e-01, -6.98162466e-02,
        7.47841239e-01, -7.49237686e-02,  1.41589344e+00,  1.91329777e-01,
        7.39470199e-02, -4.17378128e-01, -7.81771839e-01,  1.76666379e-01,
        4.14271265e-01,  7.87222385e-01, -8.42904270e-01, -5.39483309e-01,
        1.26018122e-01,  4.78690207e-01,  1.31073368e+00,  5.69128275e-01,
        3.20229292e-01,  5.44351995e-01,  4.33367282e-01, -7.05732524e-01,
       -9.84584093e-01, -6.81033731e-01, -6.10183716e-01,  5.84587872e-01,
       -5.32885790e-01,  6.70979738e-01,  8.93555999e-01,  3.81132871e-01,
       -1.28631294e+00, -8.74423206e-01, -2.93954164e-01,  5.07991791e-01,
       -4.05146480e-01,  1.64092731e+00,  8.51340592e-02,  3.40192139e-01,
       -3.65985595e-02, -5.52764297e-01, -6.96029663e-02,  7.71619081e-01,
       -2.31096596e-01, -9.15842205e-02,  4.96486165e-02, -2.06487417e+00,
        7.83243239e-01, -1.32471826e-02, -1.28466502e-01,  2.42426440e-01,
       -2.43497387e-01, -1.30568182e+00,  1.32129097e+00,  8.65105510e-01,
        3.17187786e-01,  1.84255466e-02,  2.85588562e-01,  2.88716052e-02,
       -5.31144857e-01,  1.17754631e-01, -9.85717535e-01, -2.07468674e-01,
       -1.19906969e-01,  1.00668006e-01, -1.69221610e-01, -1.42195821e-01,
        1.24750340e+00, -1.01064622e+00,  1.51389682e+00, -4.85030383e-01,
        1.62518665e-01,  1.06941772e+00, -1.14126778e+00, -2.96746343e-01,
       -8.22422877e-02,  7.26796687e-01, -8.48384559e-01, -1.87772906e+00,
        6.64068639e-01, -1.07916474e+00,  8.71505141e-01,  2.83566982e-01,
       -5.82241356e-01, -1.68729499e-01,  4.21395093e-01,  8.25446427e-01,
       -1.11085460e-01, -1.08262002e+00, -5.58232486e-01, -9.09348428e-02,
       -4.21184391e-01,  6.28997564e-01,  1.48973942e-01, -5.79874992e-01,
        1.14378345e+00,  8.33950341e-01,  1.41448832e+00,  1.03253281e+00,
       -1.12890542e+00, -3.27519268e-01,  8.46704781e-01, -5.74134151e-03,
       -4.56090093e-01, -9.87378538e-01, -5.06083608e-01, -8.17794025e-01,
       -5.93035221e-01, -8.02703619e-01, -1.63324130e+00,  1.21801758e+00,
       -1.06967759e+00,  9.49653685e-01,  8.74438167e-01, -3.02049786e-01,
        9.26136374e-01,  1.40910178e-01,  5.45068979e-01, -1.30663052e-01,
        1.77015483e-01,  5.50199568e-01, -7.78419852e-01, -3.13847691e-01,
       -1.00425851e+00,  1.30767179e+00,  1.23827308e-01,  9.81363297e-01,
        9.12190616e-01,  6.23039901e-01, -6.97494030e-01,  2.06412554e+00,
       -1.67685175e+00, -9.21953470e-02, -4.72872913e-01,  1.22537263e-01,
        4.14067134e-02, -2.94742048e-01, -1.28167522e+00,  8.65855396e-01,
       -8.62968490e-02,  7.05126762e-01, -1.26560104e+00,  1.08228445e+00,
        2.18486249e-01, -1.89441442e-01,  1.38662660e+00,  1.46414459e+00,
        8.91494453e-01,  5.11476547e-02, -2.12124527e-01,  8.99317741e-01,
       -2.03973055e-01,  3.76393139e-01,  7.76921928e-01, -1.67124271e+00,
        3.81110966e-01, -1.29417288e+00,  1.26424646e+00,  4.81729895e-01,
        5.52055061e-01, -2.64252186e-01,  8.43673527e-01,  1.65878564e-01,
       -8.55334938e-01, -4.42146242e-01, -9.05867040e-01,  1.46197960e-01,
        5.27536273e-01,  3.48744601e-01,  2.06572726e-01,  8.20850253e-01,
       -6.15391076e-01,  9.39076245e-01,  6.30961478e-01, -5.08838259e-02,
        7.61373043e-01,  8.27566624e-01,  5.14349461e-01,  3.86684924e-01,
        5.45557663e-02,  1.20573604e+00,  3.64902467e-01,  1.58426368e+00,
        1.05517781e+00, -6.09370470e-01,  9.53538045e-02, -9.32555258e-01,
        9.51526642e-01,  1.24120235e+00,  2.23587058e-03,  1.51076674e+00,
       -3.06204110e-01,  1.09868276e+00, -1.00817358e+00, -1.52261615e-01,
       -1.06563671e-02, -3.33841115e-01,  1.05612183e+00,  1.39033660e-01,
       -1.88166201e+00,  1.04121649e+00, -2.28661105e-01,  6.31923378e-02,
       -1.71363592e-01, -8.28430057e-01, -5.21711528e-01, -4.03443025e-03],
      dtype=float32)