# CoNLL_View_Doc.ipynb

Notebook for viewing individual documents from the CoNLL corpus, for use 
alongside the other CoNLL related notebooks in this directory.

In [2]:
# Libraries
import os
import sys
import numpy as np
import pandas as pd

# And of course we need the text_extensions_for_pandas library itself.
PROJECT_ROOT = "../.."
try:
    import text_extensions_for_pandas as tp
except ModuleNotFoundError as e:
    # If we're running from within the project source tree and the parent Python
    # environment doesn't have the text_extensions_for_pandas package, use the
    # version in the local source tree.
    if not os.getcwd().endswith("corpus"):
        raise e
    if PROJECT_ROOT not in sys.path:
        sys.path.insert(0, PROJECT_ROOT)
    import text_extensions_for_pandas as tp

# Code shared among notebooks is kept in util.py, in this directory.
import util

In [5]:
# Download and cache the data set.
# NOTE: This data set is licensed for research use only. Be sure to adhere
#  to the terms of the license when using this data set!
data_set_info = tp.io.conll.maybe_download_conll_data("outputs")
data_set_info

{'train': 'outputs/eng.train',
 'dev': 'outputs/eng.testa',
 'test': 'outputs/eng.testb'}

In [7]:
# The raw dataset in its original tokenization
corpus_raw = {}
for fold_name, file_name in data_set_info.items():
    df_list = tp.io.conll.conll_2003_to_dataframes(
        file_name, ["pos", "phrase", "ent"], [False, True, True])
    corpus_raw[fold_name] = [
        df.drop(columns=["pos", "phrase_iob", "phrase_type"])
        for df in df_list
    ]

In [9]:
# Convert IOB2-tagged tokens to spans
all_spans = {
    k: [tp.io.conll.iob_to_spans(df) for df in v] for k, v in corpus_raw.items()
}

In [376]:
# Turn off the 60-row limit for displaying dataframes
pd.options.display.max_rows = None

In [1701]:
fold = "train"
doc_offset = 943
doc_df = all_spans[fold][doc_offset]
doc_df

                               span ent_type
0            [25, 35): 'SAN MARINO'      LOC
1            [36, 46): 'GRAND PRIX'     MISC
2                 [63, 68): 'IMOLA'      LOC
3                 [70, 75): 'Italy'      LOC
4          [129, 139): 'San Marino'      LOC
5          [159, 169): 'Grand Prix'     MISC
6      [174, 188): 'Michael Doohan'      PER
7           [190, 199): 'Australia'      LOC
8               [201, 206): 'Honda'      ORG
9   [228, 245): 'Jean-Michel Bayle'      PER
10             [247, 253): 'France'      LOC
11             [255, 261): 'Yamaha'      ORG
12       [274, 286): 'Norifumi Abe'      PER
13              [288, 293): 'Japan'      LOC
14             [295, 301): 'Yamaha'      ORG
15      [314, 327): 'Luca Cadalora'      PER
16              [329, 334): 'Italy'      LOC
17              [336, 341): 'Honda'      ORG
18      [354, 367): 'Alex Criville'      PER
19              [369, 374): 'Spain'      LOC
20              [376, 381): 'Honda'      ORG
21      [394, 407): 'Scott Russell'      PER
22      [409, 422): 'United States'      LOC
23             [424, 430): 'Suzuki'      ORG
24     [443, 457): 'Tadayuki Okada'      PER
25              [459, 464): 'Japan'      LOC
26              [466, 471): 'Honda'      ORG
27       [484, 496): 'Carlos Checa'      PER
28              [498, 503): 'Spain'      LOC
29              [505, 510): 'Honda'      ORG
30   [523, 539): 'Alexandre Barros'      PER
31             [541, 547): 'Brazil'      LOC
32              [549, 554): 'Honda'      ORG
33      [568, 581): 'Shinichi Itoh'      PER
34              [583, 588): 'Japan'      LOC
35              [590, 595): 'Honda'      ORG

In [1702]:
doc_df["span"].values.repr_html_show_offsets = False
doc_df["span"].values

<TokenSpanArray>
[         [25, 35): 'SAN MARINO',          [36, 46): 'GRAND PRIX',
               [63, 68): 'IMOLA',               [70, 75): 'Italy',
        [129, 139): 'San Marino',        [159, 169): 'Grand Prix',
    [174, 188): 'Michael Doohan',         [190, 199): 'Australia',
             [201, 206): 'Honda', [228, 245): 'Jean-Michel Bayle',
            [247, 253): 'France',            [255, 261): 'Yamaha',
      [274, 286): 'Norifumi Abe',             [288, 293): 'Japan',
            [295, 301): 'Yamaha',     [314, 327): 'Luca Cadalora',
             [329, 334): 'Italy',             [336, 341): 'Honda',
     [354, 367): 'Alex Criville',             [369, 374): 'Spain',
             [376, 381): 'Honda',     [394, 407): 'Scott Russell',
     [409, 422): 'United States',            [424, 430): 'Suzuki',
    [443, 457): 'Tadayuki Okada',             [459, 464): 'Japan',
             [466, 471): 'Honda',      [484, 496): 'Carlos Checa',
             [498, 503): 'Spain',             [505, 510): 'Honda',
  [523, 539): 'Alexandre Barros',            [541, 547): 'Brazil',
             [549, 554): 'Honda',     [568, 581): 'Shinichi Itoh',
             [583, 588): 'Japan',             [590, 595): 'Honda']
Length: 36, dtype: TokenSpanDtype

In [1668]:
# Dataframe of tokens for finding offsets
toks_df = corpus_raw[fold][doc_offset]
toks_df

,span,ent_iob,ent_type,sentence,line_num
0,"[0, 10): '-DOCSTART-'",O,None,"[0, 10): '-DOCSTART-'",192363
1,"[11, 19): 'BASEBALL'",O,None,"[11, 52): 'BASEBALL- MAJOR LEAGUE RESULTS WEDN...",192365
2,"[19, 20): '-'",O,None,"[11, 52): 'BASEBALL- MAJOR LEAGUE RESULTS WEDN...",192366
3,"[21, 26): 'MAJOR'",B,MISC,"[11, 52): 'BASEBALL- MAJOR LEAGUE RESULTS WEDN...",192367
4,"[27, 33): 'LEAGUE'",I,MISC,"[11, 52): 'BASEBALL- MAJOR LEAGUE RESULTS WEDN...",192368
5,"[34, 41): 'RESULTS'",O,None,"[11, 52): 'BASEBALL- MAJOR LEAGUE RESULTS WEDN...",192369
6,"[42, 51): 'WEDNESDAY'",O,None,"[11, 52): 'BASEBALL- MAJOR LEAGUE RESULTS WEDN...",192370
7,"[51, 52): '.'",O,None,"[11, 52): 'BASEBALL- MAJOR LEAGUE RESULTS WEDN...",192371
8,"[53, 56): 'NEW'",B,LOC,"[53, 72): 'NEW YORK 1996-08-29'",192373
9,"[57, 61): 'YORK'",I,LOC,"[53, 72): 'NEW YORK 1996-08-29'",192374
10,"[62, 72): '1996-08-29'",O,None,"[53, 72): 'NEW YORK 1996-08-29'",192375
11,"[73, 80): 'Results'",O,None,"[73, 96): 'Results of Major League'",192377
12,"[81, 83): 'of'",O,None,"[73, 96): 'Results of Major League'",192378
13,"[84, 89): 'Major'",B,MISC,"[73, 96): 'Results of Major League'",192379
14,"[90, 96): 'League'",I,MISC,"[73, 96): 'Results of Major League'",192380
15,"[97, 105): 'Baseball'",O,None,"[97, 152): 'Baseball games played on Wednesday...",192382
16,"[106, 111): 'games'",O,None,"[97, 152): 'Baseball games played on Wednesday...",192383
17,"[112, 118): 'played'",O,None,"[97, 152): 'Baseball games played on Wednesday...",192384
18,"[119, 121): 'on'",O,None,"[97, 152): 'Baseball games played on Wednesday...",192385
19,"[122, 131): 'Wednesday'",O,None,"[97, 152): 'Baseball games played on Wednesday...",192386
20,"[132, 133): '('",O,None,"[97, 152): 'Baseball games played on Wednesday...",192387
21,"[133, 137): 'home'",O,None,"[97, 152): 'Baseball games played on Wednesday...",192388
22,"[138, 142): 'team'",O,None,"[97, 152): 'Baseball games played on Wednesday...",192389
23,"[143, 145): 'in'",O,None,"[97, 152): 'Baseball games played on Wednesday...",192390
24,"[146, 150): 'CAPS'",O,None,"[97, 152): 'Baseball games played on Wednesday...",192391
25,"[150, 151): ')'",O,None,"[97, 152): 'Baseball games played on Wednesday...",192392
26,"[151, 152): ':'",O,None,"[97, 152): 'Baseball games played on Wednesday...",192393
27,"[153, 161): 'National'",B,MISC,"[153, 168): 'National League'",192395
28,"[162, 168): 'League'",I,MISC,"[153, 168): 'National League'",192396
29,"[169, 177): 'COLORADO'",B,ORG,"[169, 193): 'COLORADO 10 Cincinnati 9'",192398
30,"[178, 180): '10'",O,None,"[169, 193): 'COLORADO 10 Cincinnati 9'",192399
31,"[181, 191): 'Cincinnati'",B,ORG,"[169, 193): 'COLORADO 10 Cincinnati 9'",192400
32,"[192, 193): '9'",O,None,"[169, 193): 'COLORADO 10 Cincinnati 9'",192401
33,"[194, 202): 'MONTREAL'",B,ORG,"[194, 218): 'MONTREAL 6 Los Angeles 5'",192403
34,"[203, 204): '6'",O,None,"[194, 218): 'MONTREAL 6 Los Angeles 5'",192404
35,"[205, 208): 'Los'",B,ORG,"[194, 218): 'MONTREAL 6 Los Angeles 5'",192405
36,"[209, 216): 'Angeles'",I,ORG,"[194, 218): 'MONTREAL 6 Los Angeles 5'",192406
37,"[217, 218): '5'",O,None,"[194, 218): 'MONTREAL 6 Los Angeles 5'",192407
38,"[219, 226): 'Atlanta'",B,ORG,"[219, 241): 'Atlanta 9 PITTSBURGH 4'",192409
39,"[227, 228): '9'",O,None,"[219, 241): 'Atlanta 9 PITTSBURGH 4'",192410
40,"[229, 239): 'PITTSBURGH'",B,ORG,"[219, 241): 'Atlanta 9 PITTSBURGH 4'",192411
41,"[240, 241): '4'",O,None,"[219, 241): 'Atlanta 9 PITTSBURGH 4'",192412
42,"[242, 245): 'San'",B,ORG,"[242, 277): 'San Diego 3 NEW YORK 2 (10 innings)'",192414
43,"[246, 251): 'Diego'",I,ORG,"[242, 277): 'San Diego 3 NEW YORK 2 (10 innings)'",192415
44,"[252, 253): '3'",O,None,"[242, 277): 'San Diego 3 NEW YORK 2 (10 innings)'",192416
45,"[254, 257): 'NEW'",B,ORG,"[242, 277): 'San Diego 3 NEW YORK 2 (10 innings)'",192417
46,"[258, 262): 'YORK'",I,ORG,"[242, 277): 'San Diego 3 NEW YORK 2 (10 innings)'",192418
47,"[263, 264): '2'",O,None,"[242, 277): 'San Diego 3 NEW YORK 2 (10 innings)'",192419
48,"[265, 266): '('",O,None,"[242, 277): 'San Diego 3 NEW YORK 2 (10 innings)'",192420
49,"[266, 268): '10'",O,None,"[242, 277): 'San Diego 3 NEW YORK 2 (10 innings)'",192421
50,"[269, 276): 'innings'",O,None,"[242, 277): 'San Diego 3 NEW YORK 2 (10 innings)'",192422
51,"[276, 277): ')'",O,None,"[242, 277): 'San Diego 3 NEW YORK 2 (10 innings)'",192423
52,"[278, 285): 'HOUSTON'",B,ORG,"[278, 310): 'HOUSTON 5 Chicago 4 (11 innings)'",192425
53,"[286, 287): '5'",O,None,"[278, 310): 'HOUSTON 5 Chicago 4 (11 innings)'",192426
54,"[288, 295): 'Chicago'",B,ORG,"[278, 310): 'HOUSTON 5 Chicago 4 (11 innings)'",192427
55,"[296, 297): '4'",O,None,"[278, 310): 'HOUSTON 5 Chicago 4 (11 innings)'",192428
56,"[298, 299): '('",O,None,"[278, 310): 'HOUSTON 5 Chicago 4 (11 innings)'",192429
57,"[299, 301): '11'",O,None,"[278, 310): 'HOUSTON 5 Chicago 4 (11 innings)'",192430
58,"[302, 309): 'innings'",O,None,"[278, 310): 'HOUSTON 5 Chicago 4 (11 innings)'",192431
59,"[309, 310): ')'",O,None,"[278, 310): 'HOUSTON 5 Chicago 4 (11 innings)'",192432
60,"[311, 318): 'Florida'",B,ORG,"[311, 344): 'Florida 3 ST LOUIS 2 (10 innings)'",192434
61,"[319, 320): '3'",O,None,"[311, 344): 'Florida 3 ST LOUIS 2 (10 innings)'",192435
62,"[321, 323): 'ST'",B,ORG,"[311, 344): 'Florida 3 ST LOUIS 2 (10 innings)'",192436
63,"[324, 329): 'LOUIS'",I,ORG,"[311, 344): 'Florida 3 ST LOUIS 2 (10 innings)'",192437
64,"[330, 331): '2'",O,None,"[311, 344): 'Florida 3 ST LOUIS 2 (10 innings)'",192438
65,"[332, 333): '('",O,None,"[311, 344): 'Florida 3 ST LOUIS 2 (10 innings)'",192439
66,"[333, 335): '10'",O,None,"[311, 344): 'Florida 3 ST LOUIS 2 (10 innings)'",192440
67,"[336, 343): 'innings'",O,None,"[311, 344): 'Florida 3 ST LOUIS 2 (10 innings)'",192441
68,"[343, 344): ')'",O,None,"[311, 344): 'Florida 3 ST LOUIS 2 (10 innings)'",192442
69,"[345, 348): 'SAN'",B,ORG,"[345, 375): 'SAN FRANCISCO 7 Philadelphia 6'",192444
70,"[349, 358): 'FRANCISCO'",I,ORG,"[345, 375): 'SAN FRANCISCO 7 Philadelphia 6'",192445
71,"[359, 360): '7'",O,None,"[345, 375): 'SAN FRANCISCO 7 Philadelphia 6'",192446
72,"[361, 373): 'Philadelphia'",B,ORG,"[345, 375): 'SAN FRANCISCO 7 Philadelphia 6'",192447
73,"[374, 375): '6'",O,None,"[345, 375): 'SAN FRANCISCO 7 Philadelphia 6'",192448
74,"[376, 384): 'American'",B,MISC,"[376, 391): 'American League'",192450
75,"[385, 391): 'League'",I,MISC,"[376, 391): 'American League'",192451
76,"[392, 401): 'Cleveland'",B,ORG,"[392, 413): 'Cleveland 9 DETROIT 3'",192453
77,"[402, 403): '9'",O,None,"[392, 413): 'Cleveland 9 DETROIT 3'",192454
78,"[404, 411): 'DETROIT'",B,ORG,"[392, 413): 'Cleveland 9 DETROIT 3'",192455
79,"[412, 413): '3'",O,None,"[392, 413): 'Cleveland 9 DETROIT 3'",192456
80,"[414, 421): 'CHICAGO'",B,ORG,"[414, 435): 'CHICAGO 2 Milwaukee 0'",192458
81,"[422, 423): '2'",O,None,"[414, 435): 'CHICAGO 2 Milwaukee 0'",192459
82,"[424, 433): 'Milwaukee'",B,ORG,"[414, 435): 'CHICAGO 2 Milwaukee 0'",192460
83,"[434, 435): '0'",O,None,"[414, 435): 'CHICAGO 2 Milwaukee 0'",192461
84,"[436, 443): 'Oakland'",B,ORG,"[436, 457): 'Oakland 3 BALTIMORE 0'",192463
85,"[444, 445): '3'",O,None,"[436, 457): 'Oakland 3 BALTIMORE 0'",192464
86,"[446, 455): 'BALTIMORE'",B,ORG,"[436, 457): 'Oakland 3 BALTIMORE 0'",192465
87,"[456, 457): '0'",O,None,"[436, 457): 'Oakland 3 BALTIMORE 0'",192466
88,"[458, 465): 'TORONTO'",B,ORG,"[458, 479): 'TORONTO 6 Minnesota 1'",192468
89,"[466, 467): '6'",O,None,"[458, 479): 'TORONTO 6 Minnesota 1'",192469
90,"[468, 477): 'Minnesota'",B,ORG,"[458, 479): 'TORONTO 6 Minnesota 1'",192470
91,"[478, 479): '1'",O,None,"[458, 479): 'TORONTO 6 Minnesota 1'",192471
92,"[480, 486): 'KANSAS'",B,ORG,"[480, 514): 'KANSAS CITY 4 Texas 3 (12 innings)'",192473
93,"[487, 491): 'CITY'",I,ORG,"[480, 514): 'KANSAS CITY 4 Texas 3 (12 innings)'",192474
94,"[492, 493): '4'",O,None,"[480, 514): 'KANSAS CITY 4 Texas 3 (12 innings)'",192475
95,"[494, 499): 'Texas'",B,ORG,"[480, 514): 'KANSAS CITY 4 Texas 3 (12 innings)'",192476
96,"[500, 501): '3'",O,None,"[480, 514): 'KANSAS CITY 4 Texas 3 (12 innings)'",192477
97,"[502, 503): '('",O,None,"[480, 514): 'KANSAS CITY 4 Texas 3 (12 innings)'",192478
98,"[503, 505): '12'",O,None,"[480, 514): 'KANSAS CITY 4 Texas 3 (12 innings)'",192479
99,"[506, 513): 'innings'",O,None,"[480, 514): 'KANSAS CITY 4 Texas 3 (12 innings)'",192480
100,"[513, 514): ')'",O,None,"[480, 514): 'KANSAS CITY 4 Texas 3 (12 innings)'",192481
101,"[515, 521): 'Boston'",B,ORG,"[515, 536): 'Boston 7 CALIFORNIA 4'",192483
102,"[522, 523): '7'",O,None,"[515, 536): 'Boston 7 CALIFORNIA 4'",192484
103,"[524, 534): 'CALIFORNIA'",B,ORG,"[515, 536): 'Boston 7 CALIFORNIA 4'",192485
104,"[535, 536): '4'",O,None,"[515, 536): 'Boston 7 CALIFORNIA 4'",192486
105,"[537, 544): 'SEATTLE'",B,ORG,"[537, 558): 'SEATTLE 10 New York 2'",192488
106,"[545, 547): '10'",O,None,"[537, 558): 'SEATTLE 10 New York 2'",192489
107,"[548, 551): 'New'",B,ORG,"[537, 558): 'SEATTLE 10 New York 2'",192490
108,"[552, 556): 'York'",I,ORG,"[537, 558): 'SEATTLE 10 New York 2'",192491
109,"[557, 558): '2'",O,None,"[537, 558): 'SEATTLE 10 New York 2'",192492

######