# CoNLL_View_Doc.ipynb

Notebook for viewing individual documents from the CoNLL corpus, for use 
alongside the other CoNLL related notebooks in this directory.

In [1]:
# Libraries
import os
import sys
import numpy as np
import pandas as pd

# And of course we need the text_extensions_for_pandas library itself.
try:
    import text_extensions_for_pandas as tp
except ModuleNotFoundError as e:
    raise Exception("text_extensions_for_pandas package not found on the Jupyter "
                    "kernel's path. Please either run:\n"
                    "   ln -s ../../text_extensions_for_pandas .\n"
                    "from the directory containing this notebook, or use a Python "
                    "environment on which you have used `pip` to install the package.")

# Code shared among notebooks is kept in util.py, in this directory.
import util

In [2]:
# Download and cache the data set.
# NOTE: This data set is licensed for research use only. Be sure to adhere
#  to the terms of the license when using this data set!
data_set_info = tp.io.conll.maybe_download_conll_data("outputs")
data_set_info

{'train': 'outputs/eng.train',
 'dev': 'outputs/eng.testa',
 'test': 'outputs/eng.testb'}

In [3]:
# The raw dataset in its original tokenization
corpus_raw = {}
for fold_name, file_name in data_set_info.items():
    df_list = tp.io.conll.conll_2003_to_dataframes(
        file_name, ["pos", "phrase", "ent"], [False, True, True])
    corpus_raw[fold_name] = [
        df.drop(columns=["pos", "phrase_iob", "phrase_type"])
        for df in df_list
    ]

In [4]:
# Convert IOB2-tagged tokens to spans
all_spans = {
    k: [tp.io.conll.iob_to_spans(df) for df in v] for k, v in corpus_raw.items()
}

In [5]:
# Turn off the 60-row limit for displaying dataframes
pd.options.display.max_rows = None

In [6]:
fold = "train"
doc_offset = 943
doc_df = all_spans[fold][doc_offset]
doc_df

                               span ent_type
0            [25, 35): 'SAN MARINO'      LOC
1            [36, 46): 'GRAND PRIX'     MISC
2                 [63, 68): 'IMOLA'      LOC
3                 [70, 75): 'Italy'      LOC
4          [129, 139): 'San Marino'      LOC
5          [159, 169): 'Grand Prix'     MISC
6      [174, 188): 'Michael Doohan'      PER
7           [190, 199): 'Australia'      LOC
8               [201, 206): 'Honda'      ORG
9   [228, 245): 'Jean-Michel Bayle'      PER
10             [247, 253): 'France'      LOC
11             [255, 261): 'Yamaha'      ORG
12       [274, 286): 'Norifumi Abe'      PER
13              [288, 293): 'Japan'      LOC
14             [295, 301): 'Yamaha'      ORG
15      [314, 327): 'Luca Cadalora'      PER
16              [329, 334): 'Italy'      LOC
17              [336, 341): 'Honda'      ORG
18      [354, 367): 'Alex Criville'      PER
19              [369, 374): 'Spain'      LOC
20              [376, 381): 'Honda'      ORG
21      [394, 407): 'Scott Russell'      PER
22      [409, 422): 'United States'      LOC
23             [424, 430): 'Suzuki'      ORG
24     [443, 457): 'Tadayuki Okada'      PER
25              [459, 464): 'Japan'      LOC
26              [466, 471): 'Honda'      ORG
27       [484, 496): 'Carlos Checa'      PER
28              [498, 503): 'Spain'      LOC
29              [505, 510): 'Honda'      ORG
30   [523, 539): 'Alexandre Barros'      PER
31             [541, 547): 'Brazil'      LOC
32              [549, 554): 'Honda'      ORG
33      [568, 581): 'Shinichi Itoh'      PER
34              [583, 588): 'Japan'      LOC
35              [590, 595): 'Honda'      ORG

In [7]:
doc_df["span"].values.repr_html_show_offsets = False
doc_df["span"].values

<TokenSpanArray>
[         [25, 35): 'SAN MARINO',          [36, 46): 'GRAND PRIX',
               [63, 68): 'IMOLA',               [70, 75): 'Italy',
        [129, 139): 'San Marino',        [159, 169): 'Grand Prix',
    [174, 188): 'Michael Doohan',         [190, 199): 'Australia',
             [201, 206): 'Honda', [228, 245): 'Jean-Michel Bayle',
            [247, 253): 'France',            [255, 261): 'Yamaha',
      [274, 286): 'Norifumi Abe',             [288, 293): 'Japan',
            [295, 301): 'Yamaha',     [314, 327): 'Luca Cadalora',
             [329, 334): 'Italy',             [336, 341): 'Honda',
     [354, 367): 'Alex Criville',             [369, 374): 'Spain',
             [376, 381): 'Honda',     [394, 407): 'Scott Russell',
     [409, 422): 'United States',            [424, 430): 'Suzuki',
    [443, 457): 'Tadayuki Okada',             [459, 464): 'Japan',
             [466, 471): 'Honda',      [484, 496): 'Carlos Checa',
             [498, 503): 'Spain',             [505, 510): 'Honda',
  [523, 539): 'Alexandre Barros',            [541, 547): 'Brazil',
             [549, 554): 'Honda',     [568, 581): 'Shinichi Itoh',
             [583, 588): 'Japan',             [590, 595): 'Honda']
Length: 36, dtype: TokenSpanDtype

In [8]:
# Dataframe of tokens for finding offsets
toks_df = corpus_raw[fold][doc_offset]
toks_df

,span,ent_iob,ent_type,sentence,line_num
0,"[0, 10): '-DOCSTART-'",O,None,"[0, 10): '-DOCSTART-'",219100
1,"[11, 23): 'MOTORCYCLING'",O,None,"[11, 62): 'MOTORCYCLING- SAN MARINO GRAND PRIX...",219102
2,"[23, 24): '-'",O,None,"[11, 62): 'MOTORCYCLING- SAN MARINO GRAND PRIX...",219103
3,"[25, 28): 'SAN'",B,LOC,"[11, 62): 'MOTORCYCLING- SAN MARINO GRAND PRIX...",219104
4,"[29, 35): 'MARINO'",I,LOC,"[11, 62): 'MOTORCYCLING- SAN MARINO GRAND PRIX...",219105
5,"[36, 41): 'GRAND'",B,MISC,"[11, 62): 'MOTORCYCLING- SAN MARINO GRAND PRIX...",219106
6,"[42, 46): 'PRIX'",I,MISC,"[11, 62): 'MOTORCYCLING- SAN MARINO GRAND PRIX...",219107
7,"[47, 55): 'PRACTICE'",O,None,"[11, 62): 'MOTORCYCLING- SAN MARINO GRAND PRIX...",219108
8,"[56, 61): 'TIMES'",O,None,"[11, 62): 'MOTORCYCLING- SAN MARINO GRAND PRIX...",219109
9,"[61, 62): '.'",O,None,"[11, 62): 'MOTORCYCLING- SAN MARINO GRAND PRIX...",219110
10,"[63, 68): 'IMOLA'",B,LOC,"[63, 86): 'IMOLA, Italy 1996-08-30'",219112
11,"[68, 69): ','",O,None,"[63, 86): 'IMOLA, Italy 1996-08-30'",219113
12,"[70, 75): 'Italy'",B,LOC,"[63, 86): 'IMOLA, Italy 1996-08-30'",219114
13,"[76, 86): '1996-08-30'",O,None,"[63, 86): 'IMOLA, Italy 1996-08-30'",219115
14,"[87, 95): 'Practice'",O,None,"[87, 115): 'Practice times set on Friday'",219117
15,"[96, 101): 'times'",O,None,"[87, 115): 'Practice times set on Friday'",219118
16,"[102, 105): 'set'",O,None,"[87, 115): 'Practice times set on Friday'",219119
17,"[106, 108): 'on'",O,None,"[87, 115): 'Practice times set on Friday'",219120
18,"[109, 115): 'Friday'",O,None,"[87, 115): 'Practice times set on Friday'",219121
19,"[116, 119): 'for'",O,None,"[116, 170): 'for Sunday's San Marino 500cc mot...",219123
20,"[120, 126): 'Sunday'",O,None,"[116, 170): 'for Sunday's San Marino 500cc mot...",219124
21,"[126, 128): ''s'",O,None,"[116, 170): 'for Sunday's San Marino 500cc mot...",219125
22,"[129, 132): 'San'",B,LOC,"[116, 170): 'for Sunday's San Marino 500cc mot...",219126
23,"[133, 139): 'Marino'",I,LOC,"[116, 170): 'for Sunday's San Marino 500cc mot...",219127
24,"[140, 145): '500cc'",O,None,"[116, 170): 'for Sunday's San Marino 500cc mot...",219128
25,"[146, 158): 'motorcycling'",O,None,"[116, 170): 'for Sunday's San Marino 500cc mot...",219129
26,"[159, 164): 'Grand'",B,MISC,"[116, 170): 'for Sunday's San Marino 500cc mot...",219130
27,"[165, 169): 'Prix'",I,MISC,"[116, 170): 'for Sunday's San Marino 500cc mot...",219131
28,"[169, 170): ':'",O,None,"[116, 170): 'for Sunday's San Marino 500cc mot...",219132
29,"[171, 173): '1.'",O,None,"[171, 224): '1. Michael Doohan (Australia) Hon...",219134
30,"[174, 181): 'Michael'",B,PER,"[171, 224): '1. Michael Doohan (Australia) Hon...",219135
31,"[182, 188): 'Doohan'",I,PER,"[171, 224): '1. Michael Doohan (Australia) Hon...",219136
32,"[189, 190): '('",O,None,"[171, 224): '1. Michael Doohan (Australia) Hon...",219137
33,"[190, 199): 'Australia'",B,LOC,"[171, 224): '1. Michael Doohan (Australia) Hon...",219138
34,"[199, 200): ')'",O,None,"[171, 224): '1. Michael Doohan (Australia) Hon...",219139
35,"[201, 206): 'Honda'",B,ORG,"[171, 224): '1. Michael Doohan (Australia) Hon...",219140
36,"[207, 210): 'one'",O,None,"[171, 224): '1. Michael Doohan (Australia) Hon...",219141
37,"[211, 217): 'minute'",O,None,"[171, 224): '1. Michael Doohan (Australia) Hon...",219142
38,"[218, 224): '50.250'",O,None,"[171, 224): '1. Michael Doohan (Australia) Hon...",219143
39,"[225, 227): '2.'",O,None,"[225, 270): '2. Jean-Michel Bayle (France) Yam...",219145
40,"[228, 239): 'Jean-Michel'",B,PER,"[225, 270): '2. Jean-Michel Bayle (France) Yam...",219146
41,"[240, 245): 'Bayle'",I,PER,"[225, 270): '2. Jean-Michel Bayle (France) Yam...",219147
42,"[246, 247): '('",O,None,"[225, 270): '2. Jean-Michel Bayle (France) Yam...",219148
43,"[247, 253): 'France'",B,LOC,"[225, 270): '2. Jean-Michel Bayle (France) Yam...",219149
44,"[253, 254): ')'",O,None,"[225, 270): '2. Jean-Michel Bayle (France) Yam...",219150
45,"[255, 261): 'Yamaha'",B,ORG,"[225, 270): '2. Jean-Michel Bayle (France) Yam...",219151
46,"[262, 270): '1:50.727'",O,None,"[225, 270): '2. Jean-Michel Bayle (France) Yam...",219152
47,"[271, 273): '3.'",O,None,"[271, 310): '3. Norifumi Abe (Japan) Yamaha 1:...",219154
48,"[274, 282): 'Norifumi'",B,PER,"[271, 310): '3. Norifumi Abe (Japan) Yamaha 1:...",219155
49,"[283, 286): 'Abe'",I,PER,"[271, 310): '3. Norifumi Abe (Japan) Yamaha 1:...",219156
50,"[287, 288): '('",O,None,"[271, 310): '3. Norifumi Abe (Japan) Yamaha 1:...",219157
51,"[288, 293): 'Japan'",B,LOC,"[271, 310): '3. Norifumi Abe (Japan) Yamaha 1:...",219158
52,"[293, 294): ')'",O,None,"[271, 310): '3. Norifumi Abe (Japan) Yamaha 1:...",219159
53,"[295, 301): 'Yamaha'",B,ORG,"[271, 310): '3. Norifumi Abe (Japan) Yamaha 1:...",219160
54,"[302, 310): '1:50.858'",O,None,"[271, 310): '3. Norifumi Abe (Japan) Yamaha 1:...",219161
55,"[311, 313): '4.'",O,None,"[311, 350): '4. Luca Cadalora (Italy) Honda 1:...",219163
56,"[314, 318): 'Luca'",B,PER,"[311, 350): '4. Luca Cadalora (Italy) Honda 1:...",219164
57,"[319, 327): 'Cadalora'",I,PER,"[311, 350): '4. Luca Cadalora (Italy) Honda 1:...",219165
58,"[328, 329): '('",O,None,"[311, 350): '4. Luca Cadalora (Italy) Honda 1:...",219166
59,"[329, 334): 'Italy'",B,LOC,"[311, 350): '4. Luca Cadalora (Italy) Honda 1:...",219167
60,"[334, 335): ')'",O,None,"[311, 350): '4. Luca Cadalora (Italy) Honda 1:...",219168
61,"[336, 341): 'Honda'",B,ORG,"[311, 350): '4. Luca Cadalora (Italy) Honda 1:...",219169
62,"[342, 350): '1:51.006'",O,None,"[311, 350): '4. Luca Cadalora (Italy) Honda 1:...",219170
63,"[351, 353): '5.'",O,None,"[351, 390): '5. Alex Criville (Spain) Honda 1:...",219172
64,"[354, 358): 'Alex'",B,PER,"[351, 390): '5. Alex Criville (Spain) Honda 1:...",219173
65,"[359, 367): 'Criville'",I,PER,"[351, 390): '5. Alex Criville (Spain) Honda 1:...",219174
66,"[368, 369): '('",O,None,"[351, 390): '5. Alex Criville (Spain) Honda 1:...",219175
67,"[369, 374): 'Spain'",B,LOC,"[351, 390): '5. Alex Criville (Spain) Honda 1:...",219176
68,"[374, 375): ')'",O,None,"[351, 390): '5. Alex Criville (Spain) Honda 1:...",219177
69,"[376, 381): 'Honda'",B,ORG,"[351, 390): '5. Alex Criville (Spain) Honda 1:...",219178
70,"[382, 390): '1:51.075'",O,None,"[351, 390): '5. Alex Criville (Spain) Honda 1:...",219179
71,"[391, 393): '6.'",O,None,"[391, 439): '6. Scott Russell (United States) ...",219181
72,"[394, 399): 'Scott'",B,PER,"[391, 439): '6. Scott Russell (United States) ...",219182
73,"[400, 407): 'Russell'",I,PER,"[391, 439): '6. Scott Russell (United States) ...",219183
74,"[408, 409): '('",O,None,"[391, 439): '6. Scott Russell (United States) ...",219184
75,"[409, 415): 'United'",B,LOC,"[391, 439): '6. Scott Russell (United States) ...",219185
76,"[416, 422): 'States'",I,LOC,"[391, 439): '6. Scott Russell (United States) ...",219186
77,"[422, 423): ')'",O,None,"[391, 439): '6. Scott Russell (United States) ...",219187
78,"[424, 430): 'Suzuki'",B,ORG,"[391, 439): '6. Scott Russell (United States) ...",219188
79,"[431, 439): '1:51.287'",O,None,"[391, 439): '6. Scott Russell (United States) ...",219189
80,"[440, 442): '7.'",O,None,"[440, 480): '7. Tadayuki Okada (Japan) Honda 1...",219191
81,"[443, 451): 'Tadayuki'",B,PER,"[440, 480): '7. Tadayuki Okada (Japan) Honda 1...",219192
82,"[452, 457): 'Okada'",I,PER,"[440, 480): '7. Tadayuki Okada (Japan) Honda 1...",219193
83,"[458, 459): '('",O,None,"[440, 480): '7. Tadayuki Okada (Japan) Honda 1...",219194
84,"[459, 464): 'Japan'",B,LOC,"[440, 480): '7. Tadayuki Okada (Japan) Honda 1...",219195
85,"[464, 465): ')'",O,None,"[440, 480): '7. Tadayuki Okada (Japan) Honda 1...",219196
86,"[466, 471): 'Honda'",B,ORG,"[440, 480): '7. Tadayuki Okada (Japan) Honda 1...",219197
87,"[472, 480): '1:51.528'",O,None,"[440, 480): '7. Tadayuki Okada (Japan) Honda 1...",219198
88,"[481, 483): '8.'",O,None,"[481, 519): '8. Carlos Checa (Spain) Honda 1:5...",219200
89,"[484, 490): 'Carlos'",B,PER,"[481, 519): '8. Carlos Checa (Spain) Honda 1:5...",219201
90,"[491, 496): 'Checa'",I,PER,"[481, 519): '8. Carlos Checa (Spain) Honda 1:5...",219202
91,"[497, 498): '('",O,None,"[481, 519): '8. Carlos Checa (Spain) Honda 1:5...",219203
92,"[498, 503): 'Spain'",B,LOC,"[481, 519): '8. Carlos Checa (Spain) Honda 1:5...",219204
93,"[503, 504): ')'",O,None,"[481, 519): '8. Carlos Checa (Spain) Honda 1:5...",219205
94,"[505, 510): 'Honda'",B,ORG,"[481, 519): '8. Carlos Checa (Spain) Honda 1:5...",219206
95,"[511, 519): '1:51.588'",O,None,"[481, 519): '8. Carlos Checa (Spain) Honda 1:5...",219207
96,"[520, 522): '9.'",O,None,"[520, 563): '9. Alexandre Barros (Brazil) Hond...",219209
97,"[523, 532): 'Alexandre'",B,PER,"[520, 563): '9. Alexandre Barros (Brazil) Hond...",219210
98,"[533, 539): 'Barros'",I,PER,"[520, 563): '9. Alexandre Barros (Brazil) Hond...",219211
99,"[540, 541): '('",O,None,"[520, 563): '9. Alexandre Barros (Brazil) Hond...",219212
100,"[541, 547): 'Brazil'",B,LOC,"[520, 563): '9. Alexandre Barros (Brazil) Hond...",219213
101,"[547, 548): ')'",O,None,"[520, 563): '9. Alexandre Barros (Brazil) Hond...",219214
102,"[549, 554): 'Honda'",B,ORG,"[520, 563): '9. Alexandre Barros (Brazil) Hond...",219215
103,"[555, 563): '1:51.784'",O,None,"[520, 563): '9. Alexandre Barros (Brazil) Hond...",219216
104,"[564, 567): '10.'",O,None,"[564, 604): '10. Shinichi Itoh (Japan) Honda 1...",219218
105,"[568, 576): 'Shinichi'",B,PER,"[564, 604): '10. Shinichi Itoh (Japan) Honda 1...",219219
106,"[577, 581): 'Itoh'",I,PER,"[564, 604): '10. Shinichi Itoh (Japan) Honda 1...",219220
107,"[582, 583): '('",O,None,"[564, 604): '10. Shinichi Itoh (Japan) Honda 1...",219221
108,"[583, 588): 'Japan'",B,LOC,"[564, 604): '10. Shinichi Itoh (Japan) Honda 1...",219222
109,"[588, 589): ')'",O,None,"[564, 604): '10. Shinichi Itoh (Japan) Honda 1...",219223
110,"[590, 595): 'Honda'",B,ORG,"[564, 604): '10. Shinichi Itoh (Japan) Honda 1...",219224
111,"[596, 604): '1:51.857'",O,None,"[564, 604): '10. Shinichi Itoh (Japan) Honda 1...",219225

######