In [12]:
# Retrieve the full document text from the entity mentions
doc_text = entity_mentions_df["span"].array.document_text

# Filter down to just the rows and columns we're interested in
subjects_df = (
    quotes_df[["subject.text"]].copy().reset_index(drop=True))

# Use String.index() to find where the strings in "subject.text" begin
subjects_df["begin"] = pd.Series(
    [doc_text.index(s)
     for s in subjects_df["subject.text"]], dtype=int)

# Compute end offsets and wrap the <begin, end, text> triples in a SpanArray
subjects_df["end"] = (subjects_df["begin"]
                      + subjects_df["subject.text"].str.len())
subjects_df["span"] = tp.SpanArray(doc_text, 
                                   subjects_df["begin"], 
                                   subjects_df["end"])
subjects_df = subjects_df.drop(columns=["begin", "end"])
subjects_df

,subject.text,span
0,"Daniel Hernandez, general manager, Data and AI...","[1288, 1339): 'Daniel Hernandez, general manag..."
1,"Curren Katz, Director of Data Science R&D, Hig...","[1838, 1896): 'Curren Katz, Director of Data S..."
2,"Ritu Jyoti, program vice president, AI researc...","[2476, 2581): 'Ritu Jyoti, program vice presid..."