In [10]:
response = natural_language_understanding.analyze(
    url=DOC_URL,
    return_analyzed_text=True,
    features=nlu.Features(
        # Ask Watson to find mentions of named entities
        entities=nlu.EntitiesOptions(mentions=True),
        
        # Also divide the document into words. We'll use these in just a moment.
        syntax=nlu.SyntaxOptions(tokens=nlu.SyntaxOptionsTokens()),
    )).get_result()
entity_mentions_df = \
    tp.io.watson.nlu.parse_response(response)["entity_mentions"]
entity_mentions_df.head()

           type text               span  confidence
0  Organization  IBM    [43, 46): 'IBM'    0.918655
1  Organization  IBM    [54, 57): 'IBM'    0.934957
2  Organization  IBM  [400, 403): 'IBM'    0.970667
3  Organization  IBM  [527, 530): 'IBM'    0.964249
4  Organization  IBM  [758, 761): 'IBM'    0.975134